<template>
    <div class="col-sm-4">
        <form
                v-on:submit.prevent="saveCaseType()">
            <div
                    class="form-group row"
                    v-if="$_hasAccess('View Case Types')">
                <label
                        class="col-sm-2">Case Type
                </label>
                <div
                        class="col-sm-10">
                    <v-select
                            label="description"
                            v-model="edit.case_type_id"
                            :options="case_types"
                            :key="edit.case_type_id"
                            :reduce="description =>
                            description.id"></v-select>
                    <span
                            class="form-text text-muted">Select a case type to Edit/Delete.</span>
                    <a href="#"
                       class="btn btn-primary"
                       v-if="$_hasAccess('Edit Case Types')"
                       v-on:click.prevent="showButtonLoader = true; editCaseType();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                        Edit
                    </a>

                    <a href="#"
                       class="btn btn-danger"
                       v-if="$_hasAccess('Delete Case Types')"
                       v-on:click.prevent="showButtonLoader = true; deleteCaseType();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                       data-type="2">
                        Delete
                    </a>
                </div>
            </div>
            <hr>
            <h3>
                {{ edit.status == 1 ? 'Edit' : 'Add' }}
                Case Type
            </h3>
            <div class="form-group">
                <label>Description
                </label>
                <input type="text"
                       class="form-control form-control-sm"
                       v-model="fields.description"
                       v-bind:class="{ 'is-invalid' :
                       errors.description }">
                <div
                        class="invalid-feedback">
                    {{
                    errors.description
                    ?
                    errors.description[0]
                    : '' }}
                </div>
            </div>

            <div class="form-group">
                <label>With POA?
                </label>
                <select v-model="fields.with_poa"
                        class="form-control"
                        v-bind:class="{ 'is-invalid' :
                       errors.with_poa }">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>

                <div
                        class="invalid-feedback">
                    {{
                    errors.with_poa
                    ?
                    errors.with_poa[0]
                    : '' }}
                </div>
            </div>

            <div
                    class="kt-form__actions"
                    v-if="$_hasAccess('Add Case Types')">
                <a href="#"
                   class="btn btn-primary"
                   v-on:click.prevent="saveCaseType();
                   showButtonLoader = true;"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                   data-type="2">
                    Save
                </a>
            </div>
        </form>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "CaseTypesModule",

        data() {
            return {
                edit : {
                    status : 0,
                    case_type_id : null
                },
                case_types : [],
                fields : {
                    description : null,
                    with_poa : null
                },
                uri : {
                    getCaseTypes : '/api/case-types',
                    getCaseType : '/api/case-types/',
                    saveCaseType : '/api/case-types',
                    deleteCaseType : '/api/case-types/'
                }
            };
        },

        mounted() {
            let vm = this;

            Axios.all([
                this.getCaseTypes(),
            ]).then(Axios.spread(function (acct, perms) {
                vm.showModalLoader = false;
            }));
        },

        methods : {
            getCaseTypes() {
                let vm = this;

                return Axios.get(this.uri.getCaseTypes)
                    .then(function (response) {
                        vm.case_types = response.data;
                    });
            },

            editCaseType() {
                let vm = this;

                if (this.edit.case_type_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a case type to edit');
                } else {
                    return Axios.get(this.uri.getCaseType +
                        this.edit.case_type_id + '/edit')
                        .then(function (response) {
                            vm.fields = response.data;
                            vm.showButtonLoader = false;
                            vm.edit.status = 1;
                        });
                }
            },

            saveCaseType() {
                this.errors = [];
                let vm = this;
                let URI = this.edit.status === 0 ?
                    this.uri.saveCaseType :
                    this.uri.getCaseType
                    + this.edit.case_type_id;

                if (this.edit.status === 1) {
                    this.fields._method = 'PATCH';
                }

                return Axios.post(URI,
                    this.fields)
                    .then(function (response) {
                        vm.$_resetFields();
                        vm.getCaseTypes();
                        vm.edit.status = 0;
                        vm.edit.case_type_id = null;
                        vm.showButtonLoader = false;
                        _toastr('success',
                            response.data.message);
                    }).catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                        this.$_displayValidationError(error.response.data.errors);
                        this.showButtonLoader = false;
                    });
            },

            deleteCaseType() {
                let vm = this;

                if (this.edit.case_type_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a case type to delete');
                } else {
                    Swal.fire({
                        title : 'Are you sure?',
                        html : "You won't be able to revert this!",
                        type : 'question',
                        showCancelButton : true,
                        confirmButtonText : 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            Axios.delete(this.uri.deleteCaseType +
                                this.edit.case_type_id)
                                .then(function (response) {
                                    vm.getCaseTypes();
                                    vm.showButtonLoader = false;
                                    vm.edit.case_type_id = null;
                                    vm.edit.status = 0;
                                    vm.$_resetFields();
                                    _toastr('success',
                                        response.data.message);
                                });
                        } else {
                            vm.showButtonLoader = false;
                        }
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>