<template>
    <div>
        <div class="row">
            <div class="col-sm-2">
                <a href="#"
                   class="btn btn-primary"
                   v-if="$_hasAccess('Delete assigned Cases to Class')"
                   v-on:click.prevent="showButtonLoader =
                    true; $_deleteRow(uri.deleteCase,
                    table)"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                    <i
                            class="flaticon-delete"
                            v-if="!showButtonLoader && !showModalLoader"></i>
                    Delete
                </a>

                <a href="#"
                   class="btn btn-primary"
                   v-if="$_hasAccess('Recalculate Scores')"
                   v-on:click.prevent="showButtonLoader = true;"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                    <i
                            class="flaticon-refresh"
                            v-if="!showButtonLoader && !showModalLoader"></i>
                    Recalculate
                </a>
            </div>

            <div class="col-sm-2"
                 v-if="$_hasAccess('Assign Cases to Class')">
                <select class="form-control"
                        id="case_type_id"
                        name="case_type_id"
                        v-model="fields.case_type_id"
                        @change.prevent="getServiceLines()"
                        v-bind:class="{ 'is-invalid' :
                        errors.case_type_id }">
                    <option value="">-- Case Type
                                     --
                    </option>
                    <option :value="caseType.id"
                            v-for="caseType in caseTypes">{{
                                                          caseType.description
                                                          }}
                    </option>
                </select>
                <div
                        class="invalid-feedback">
                    {{
                    errors.case_type_id
                    ?
                    errors.case_type_id[0]
                    : '' }}
                </div>
            </div>

            <div class="col-sm-2"
                 v-if="$_hasAccess('Assign Cases to Class')">
                <select class="form-control"
                        id="service_line_id"
                        name="service_line_id"
                        @change.prevent="getSystems()"
                        v-model="fields.service_line_id"
                        v-bind:class="{ 'is-invalid' :
                        errors.service_line_id }"
                        v-bind:disabled="fields.case_type_id
                         == 0">
                    <option value="">-- Service Line
                                     --
                    </option>
                    <option :value="serviceLine.id"
                            v-for="serviceLine in
                            serviceLines">{{
                                          serviceLine.description
                                          }}
                    </option>
                </select>
                <div
                        class="invalid-feedback">
                    {{
                    errors.service_line_id
                    ?
                    errors.service_line_id[0]
                    : '' }}
                </div>
            </div>

            <div class="col-sm-2"
                 v-if="$_hasAccess('Assign Cases to Class')">
                <select class="form-control"
                        id="system"
                        name="system"
                        v-model="fields.system"
                        v-bind:class="{ 'is-invalid' :
                        errors.system }"
                        @change.prevent="getDescriptions()"
                        v-bind:disabled="fields.service_line_id
                         == 0">
                    <option value="">-- System --</option>
                    <option :value="system.id"
                            v-for="system in
                            systems">{{
                                     system.description
                                     }}
                    </option>
                </select>
                <div
                        class="invalid-feedback">
                    {{
                    errors.system
                    ?
                    errors.system[0]
                    : '' }}
                </div>
            </div>

            <div class="col-sm-2"
                 v-if="$_hasAccess('Assign Cases to Class')">
                <select class="form-control"
                        id="description"
                        name="description"
                        v-model="fields.description"
                        v-bind:class="{ 'is-invalid' :
                        errors.description }"
                        v-bind:disabled="fields.system
                         == 0">
                    <option value="">-- Description
                                     --
                    </option>
                    <option :value="description.description"
                            v-for="description in
                            descriptions">{{
                                          description.description
                                          }}
                    </option>
                </select>
                <div
                        class="invalid-feedback">
                    {{
                    errors.description
                    ?
                    errors.description[0]
                    : '' }}
                </div>
            </div>

            <div class="col-sm-2"
                 v-if="$_hasAccess('Assign Cases to Class')">
                <a href="#"
                   class="btn btn-primary btn-circle btn-icon"
                   v-on:click.prevent="insertCase();
                   showButtonLoader = true"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                    <i class="flaticon2-plus"
                       v-if="!showButtonLoader && !showModalLoader"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table
                        class="table table-hover table-striped"
                        id="cases-table">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selectAllCases"
                                        v-on:change="selectAllCheckbox()">
                                <label class="custom-control-label"
                                       for="selectAllCases"></label>
                            </div>
                        </th>
                        <th>id</th>
                        <th>Case Type</th>
                        <th>Service Line</th>
                        <th>System</th>
                        <th>Description</th>
                        <th>% Completed</th>
                        <th>Avg Score</th>
                        <th>Passed</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "cases",

        data() {
            return {
                showModalLoader : false,
                showButtonLoader : false,
                caseTypes : [],
                serviceLines : [],
                systems : [],
                descriptions : [],
                table : null,
                fields : {
                    class_id : "",
                    case_type_id : "",
                    service_line_id : "",
                    system : "",
                    description : ""
                },
                uri : {
                    getCaseTypes :
                        '/api/cases/fetch/case_type_id',
                    getServiceLines :
                        '/api/cases/fetch/service_line_id/',
                    getSystems : '/api/cases/fetch/system/',
                    getDescriptions :
                        '/api/cases/fetch/description/',
                    assignCase : '/api/assignments',
                    deleteCase : '/api/assignments',
                    caseEdit : '/case-maintenance/edit/'
                },
            };
        },

        mounted() {
            //TODO: Check if logged in user has access to class id
            this.fields.class_id = this.$route.params.classid;
            this.table = this.initDataTable();
            this.$_tableRowClickableInit(this.uri.caseEdit,
                '#cases-table');
            this.getCaseTypes();
        },

        methods : {
            initDataTable() {
                return $('#cases-table').DataTable({
                    processing : true,
                    serverSide : true,
                    destroy : true,
                    ajax : {
                        "url" : '/api/assignments',
                        type : 'GET',
                        data : {
                            class_id : this.fields.class_id
                        },
                        complete: function(d) {
                            $('#selectAllCases:checkbox').prop('checked', false).removeAttr('checked');
                        }
                    },
                    columns : [
                        {
                            data : 'checkbox',
                            width :
                                '50px',
                            'class' :
                                'text-center checkBox',
                            'searchable' : false,
                            'sortable' : false
                        },
                        {
                            data : 'id',
                            'searchable' : false,
                            'class' : 'd-none'
                        },
                        {
                            data : 'case_type_id',
                            name :'case_type_id',
                        },
                        {
                            data : 'service_line_id', 
                            name :'service_line_id'
                        },
                        {
                            data : 'system', 
                            name :'system',
                        },
                        {
                            data : 'description',
                            name : 'description'
                        },
                        {
                            data : 'completed_pct',
                            'searchable' : false
                        },
                        {
                            data : 'avg_score',
                            'searchable' : false
                        },
                        {
                            data : 'passed',
                            'searchable' : false,
                        },
                    ],
                    dom :
                        '<"float-left" l><"float-right" f>t<"float-left" i><"float-right" p>',
                    language : {
                        'info' : "Count: _TOTAL_",
                        "lengthMenu" :
                            "Show _MENU_ Entries",
                    }
                });
            },

            getCaseTypes() {
                return Axios.get(this.uri.getCaseTypes)
                    .then((response) => {
                        this.caseTypes = response.data;
                    })
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            getServiceLines() {
                return Axios.get(this.uri.getServiceLines
                    + this.fields.case_type_id)
                    .then((response) => {
                        this.serviceLines = response.data;
                    })
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            getSystems() {
                return Axios.get(this.uri.getSystems +
                    this.fields.case_type_id + '/' +
                    this.fields.service_line_id)
                    .then((response) => {
                        this.systems = response.data;
                    })
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            getDescriptions() {
                return Axios.get(this.uri.getDescriptions
                    + this.fields.case_type_id + '/' +
                    this.fields.service_line_id + '/'
                    + this.fields.system)
                    .then((response) => {
                        this.descriptions = response.data;
                    })
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            insertCase() {
                this.errors = [];
                Axios.post(this.uri.assignCase, this.fields)
                    .then((response) => {
                        this.initDataTable().ajax.reload();
                        this.showButtonLoader = false;
                        this.resetFields();
                        this.fields.class_id =
                            this.$route.params.classid;
                        _toastr('success',
                            response.data.message);
                    })
                    .catch((error) => {
                        this.showButtonLoader = false;
                        this.errors =
                            error.response.data.errors;
                        _toastr('error', error.response.data.message);
                    });
            },

            resetFields() {
                Object.assign(this.$data.fields,
                    this.$options.data().fields);
            },

            resetInitialData() {
                Object.assign(this.$data,
                    this.$options.data());
            },

            selectAllCheckbox() {
                if ($('#selectAllCases').is(':checked')) {
                    $('.dataCheckBox').prop('checked',
                        true);
                } else {
                    $('.dataCheckBox').prop('checked',
                        false);
                }

            },

            deleteRow() {
                let self = this;
                let ids = this.getSelectedRowsId();

                if (ids.length > 0) {
                    Swal.fire({
                        title : 'Are you sure?',
                        text : "You won't be able to revert this!",
                        type : 'warning',
                        showCancelButton : true,
                        confirmButtonText : 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            self.deleteApiRequest();
                        }
                    })
                }
            },

            getSelectedRowsId() {
                let ids = [];

                $('.dataCheckBox:checkbox:checked').each(function (key, value) {
                    ids.push($(value).data('id'));
                });

                return ids;
            },

            deleteApiRequest() {
                let ids = this.getSelectedRowsId();

                return Axios.delete(this.uri.deleteCase, {
                    data :
                        {ids : ids}
                }).then((response) => {
                    this.initDataTable().ajax.reload();
                    this.showButtonLoader = false;
                    _toastr('success',
                        response.data.message);
                }).catch((error) => {
                    _toastr('error', error.response.data.message);
                });
            },
        }
    }
</script>

<style scoped>

</style>