<template>
    <div>
        <div class="row">
            <div class="col-sm-1">
                <a href="#"
                   class="btn btn-primary"
                   v-if="$_hasAccess('Delete assigned Trainee to Class')"
                   v-on:click.prevent="showButtonLoader =
                    true;
                    $_deleteRow(uri.deleteTrainee,
                    table)"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                    <i
                            class="flaticon-delete"
                            v-if="!showButtonLoader && !showModalLoader"></i>
                    Delete
                </a>
            </div>

            <div class="col-sm-2" v-if="$_hasAccess('Assign Trainee to Class')">
                <select class="form-control"
                        id="user_id"
                        name="user_id"
                        v-model="fields.user_id"
                        v-bind:class="{ 'is-invalid' :
                        errors.user_id }">
                    <option value="">-- Trainee
                                      --
                    </option>
                    <option v-for="user in users"
                            :value="user.id">{{
                                             user.first_name + ' ' + user.last_name
                                             }}</option>
                </select>
                <div
                        class="invalid-feedback"
                        id="user_id_feedback">
                    {{
                    errors.user_id
                    ?
                    errors.user_id[0]
                    : '' }}
                </div>
            </div>

            <div class="col-sm-2" v-if="$_hasAccess('Assign Trainee to Class')">
                <a href="#"
                   class="btn btn-primary btn-circle btn-icon"
                   v-on:click.prevent="insertTrainee();
                   showButtonLoader = true"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                    <i class="flaticon2-plus"
                       v-if="!showButtonLoader && !showModalLoader"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table
                        class="table table-hover table-striped" id="trainees-table">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selectAll2"
                                        v-on:change="$_selectAllCheckbox()">
                                <label class="custom-control-label"
                                       for="selectAll2"></label>
                            </div>
                        </th>
                        <th>id</th>
                        <th>Name</th>
                        <th>Completed</th>
                        <th>In Progress</th>
                        <th>Not Started</th>
                        <th>Avg Score</th>
                        <th>POA Score</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "trainees",

        data() {
            return {
                showModalLoader : false,
                showButtonLoader: false,
                users : [],
                table : null,
                fields : {
                    class_id : 0,
                    user_id : "",
                    no_of_pax : 0
                },
                uri : {
                    getTrainees : '/api/users',
                    assignTrainee : '/api/class-pax',
                    deleteTrainee : '/api/class-pax'
                }
            };
        },

        mounted() {
            this.fields.class_id =
                this.$route.params.classid;
            this.table = this.initDataTable();
            this.getTrainees();
        },

        methods : {
            initDataTable() {
                return $('#trainees-table').DataTable({
                    processing : true,
                    serverSide : true,
                    destroy : true,
                    ajax : {
                        "url" : '/api/class-pax',
                        type : 'GET',
                        data : {
                            class_id : this.fields.class_id
                        },
                        complete: function(d) {
                            $('#selectAll2:checkbox').prop('checked', false).removeAttr('checked');
                        }
                    },
                    columns : [
                        {
                            data : 'checkbox',
                            width :
                                '50px',
                            'class' :
                                'text-center checkBox',
                            'searchable' : false,
                            'sortable' : false
                        },
                        {
                            data : 'id',
                            'class' : 'd-none',
                            'searchable' : false,
                        },
                        {
                            data : 'user',
                        },
                        {
                            data : 'completed',
                        },
                        {
                            data : 'in_progress',
                        },
                        {
                            data : 'not_started',
                        },
                        {
                            data : 'avg_score',
                        },
                        {
                            data : 'poa_score',
                            'searchable' : false,
                        },
                    ],
                    dom :
                        '<"float-left" l><"float-right" f>t<"float-left" i><"float-right" p>',
                    language : {
                        'info' : "Count: _TOTAL_",
                        "lengthMenu" :
                            "Show _MENU_ Entries",
                    }
                });
            },

            getTrainees() {
                return Axios.get(this.uri.getTrainees)
                    .then((response) => {
                        this.users = response.data;
                    })
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            insertTrainee() {
                this.errors.user_id = null;
                return Axios.post(this.uri.assignTrainee,
                    this.fields)
                    .then((response) => {
                        this.initDataTable().ajax.reload();
                        this.$_countPax();
                        this.showButtonLoader = false;
                        this.$_resetFields();
                        this.fields.class_id =
                            this.$route.params.classid;
                        _toastr('success',
                            response.data.message);
                    })
                    .catch((error) => {
                        this.showButtonLoader = false;
                        this.errors =
                            error.response.data.errors;
                        _toastr('error', error.response.data.message);
                    });
            }
            
        }
    }
</script>

<style scoped>

</style>