<template>
    <div id="page-wrapper" class="animated--fade-in">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Case
                                            Processing</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "case-processing"
    }
</script>

<style scoped>

</style>