<template>
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Access Denied
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name : "sub-header"
    }
</script>

<style scoped>

</style>