<template>
    <div class="kt-grid__item kt-grid__item--fluid" id="kt_content"
    v-if="$_hasAccess('Replace Reference')">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                    Upload References
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="col-sm-6 row" v-if="errors.referenceFile">
                    <div role="alert" class="alert alert-solid-danger alert-bold">
                        <div class="alert-text">
                            {{ ...errors.referenceFile }}
                        </div>
                    </div>
                </div>
                <form id="testupload" v-on:submit.prevent="getUpload($event);" class="form-inline">
                    <div class="form-group">
                        <input type="file" class="form-control form-control-sm" id="file" v-bind:class="{ 'is-invalid' : errors.referenceFile }" name="referenceFile"  accept="text/plain"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </form>
                <p><small>Note: The file must be a file of type: (.txt).</small></p>
            </div>
            <!--Begin::Upload logs -->
            <div class="kt-portlet--height-fluid col-md-5" v-if="this.showRecord === true">
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="kt-timeline-v3">
                                    <div class="kt-timeline-v3__items"  v-for="ull in uploadLogsLists">
                                        <div class="kt-timeline-v3__item kt-timeline-v3__item--info">
                                            <span class="kt-timeline-v3__item-time"><i class="flaticon2-file"></i></span>
                                            <div class="kt-timeline-v3__item-desc">
                                                <span class="kt-timeline-v3__item-text">
                                                 Uploaded By: {{ ull.fullname }} 
                                                </span><br>
                                                <span class="kt-timeline-v3__item-user-name">
                                                <a href="#" class="kt-link kt-link--dark kt-timeline-v3__item-link">
                                                Last Updated: {{ ull.modified_date }}
                                                </a>
                                                </span>		 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             <!--End::Upload logs -->
        </div>
    </div>
</template>


<script>
import axios from 'axios';

export default {
     name : "TextUploader",
     data() {
         return {
             uploadLogsLists : [],
             showRecord: false
         }
     },
     mounted() {
        this.$nextTick(function () {
            this.getLogsUploaded();
        });
     },

     created() {
        if(!this.$_hasAccess('Replace Reference')) {
            this.$router.push('/no-access#');
        }
     },

     methods: {
         getUpload(event){
            this.errors = [];
            let getForm = new FormData($('#testupload')[0]);
            axios({
                method: 'post',
                url: '/api/code-references',
                data: getForm
            }).then((response) => {
                _toastr('success', response.data.message);
                this.$router.push('/settings/references/text-upload#success');
                this.$_resetForm();
                this.getLogsUploaded();
            }).catch((error) => {
                _toastr('error', error.response.data.message);
                this.$_displayValidationError(error.response.data.errors);
            });
         },
         getLogsUploaded(){
            axios({
                method: 'get',
                url: '/api/code-references/1'
            }).then((response) => {
                if(response.data.length > 0){
                    this.uploadLogsLists = response.data;
                    this.showRecord = true;
                }
            })
         }
     }
}
</script>