<template>
    <div id="wrapper">

        <!-- Sidebar -->
        <sidebar></sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <topbar
                        v-bind:logged-user="loggedUser"></topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <router-view></router-view>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;
                              SWH Application
                              Development Team 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</template>

<script>
    import Sidebar from './components/layout/sidebar/index';
    import Topbar from './components/layout/topbar/index';

    export default {
        name: 'app',
        props : [
            'loggedUser'
        ],
        mounted() {
        },
        components : {
            Sidebar,
            Topbar
        }
    }
</script>
