<template>
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div
                    class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper"
                    id="kt_wrapper"
                v-if="!showGlobalLoader">
                <!--[html-partial:include:{"file":"partials\/_header-base.html"}]/-->
                <header-base
                        v-bind:myPrivileges="privileges"></header-base>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                    <div class="kt-container kt-body kt-grid kt-grid--ver"
                         id="kt_body">
                        <!--[html-partial:include:{"file":"partials\/_content-base.html"}]/-->
                        <router-view
                                :key="$route.fullPath"
                                :public-path="publicPath"
                        ></router-view>
                    </div>
                </div>
                <!--[html-partial:include:{"file":"partials\/_footer-base.html"}]/-->
            </div>

            <BlockUI :message="msg"
                     v-if="showGlobalLoader">
                <div
                        class="kt-spinner kt-spinner--primary kt-spinner--lg kt-spinner--center"
                        role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </BlockUI>
        </div>
    </div>
</template>

<script>
    import HeaderBase
        from './components/layout/topbar/header-base';

    export default {
        name : "App",

        props : [
            'publicPath'
        ],

        data () {
            return {
                msg: 'Loading, please wait..',
            }
        },

        components : {
            HeaderBase
        },

        mounted() {
            let vm = this;
            this.$_getPermissions()
                .then(function (response) {
                    vm.showGlobalLoader = false;
                });
        },
    }
</script>

<style scoped>

</style>