<template>
    <div class="kt-header__brand kt-grid__item" id="kt_header_brand">
        <div class="kt-header__brand-logo">
            <a href="?page=index">
                <img alt="Logo" src="/images/codex.png"
                     class="kt-header__brand-logo-default"
                style="width: 25%;"/>
                <img alt="Logo"
                     src="/images/codex.png"
                     class="kt-header__brand-logo-sticky"/>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name : "header-brand"
    }
</script>

<style scoped>

</style>