<template>
    <div class="kt-header__topbar">
        <div class="kt-header__topbar-item dropdown"
             v-if="$_hasAccess('View Settings')">
            <div class="kt-header__topbar-wrapper"
                 data-toggle="dropdown"
                 data-offset="0px,10px"
                 aria-expanded="false">
                <span class="kt-header__topbar-icon"><i
                        class="flaticon2-gear"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl"
                 x-placement="bottom-end"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-338px, 52px, 0px);">
                <form>
                    <!--begin: Head -->
                    <div class="kt-head kt-head--skin-light">
                        <h3 class="kt-head__title">
                            Settings
                        </h3>
                    </div>
                    <!--end: Head -->

                    <!--begin: Grid Nav -->
                    <div class="kt-grid-nav kt-grid-nav--skin-light">
                        <div class="kt-grid-nav__row">
                            <router-link tag="a"
                                         to="/settings/roles"
                                         v-if="$_hasAccess('View Roles')"
                                         data-toggle="dropdown"
                                         class="kt-grid-nav__item">
                                <span class="kt-grid-nav__icon">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--lg">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="24" height="24"/>
                                            <polygon id="Path-59" fill="#000000" opacity="0.3" transform="translate(8.885842, 16.114158) rotate(-315.000000) translate(-8.885842, -16.114158) " points="6.89784488 10.6187476 6.76452164 19.4882481 8.88584198 21.6095684 11.0071623 19.4882481 9.59294876 18.0740345 10.9659914 16.7009919 9.55177787 15.2867783 11.0071623 13.8313939 10.8837471 10.6187476"/>
                                            <path d="M15.9852814,14.9852814 C12.6715729,14.9852814 9.98528137,12.2989899 9.98528137,8.98528137 C9.98528137,5.67157288 12.6715729,2.98528137 15.9852814,2.98528137 C19.2989899,2.98528137 21.9852814,5.67157288 21.9852814,8.98528137 C21.9852814,12.2989899 19.2989899,14.9852814 15.9852814,14.9852814 Z M16.1776695,9.07106781 C17.0060967,9.07106781 17.6776695,8.39949494 17.6776695,7.57106781 C17.6776695,6.74264069 17.0060967,6.07106781 16.1776695,6.07106781 C15.3492424,6.07106781 14.6776695,6.74264069 14.6776695,7.57106781 C14.6776695,8.39949494 15.3492424,9.07106781 16.1776695,9.07106781 Z" id="Combined-Shape" fill="#000000" transform="translate(15.985281, 8.985281) rotate(-315.000000) translate(-15.985281, -8.985281) "/>
                                        </g>
                                    </svg>
                                </span>
                                <span
                                        class="kt-grid-nav__title">Roles</span>
                            </router-link>

                            <router-link tag="a"
                                         to="/settings/users"
                                         v-if="$_hasAccess('View Users')"
                                         data-toggle="dropdown"
                                         class="kt-grid-nav__item">
                                <span class="kt-grid-nav__icon">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--lg">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Shape" points="0 0 24 0 24 24 0 24"/>
        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero"/>
    </g>
</svg>
                                </span>
                                <span
                                        class="kt-grid-nav__title">Users</span>
                            </router-link>
                        </div>

                        <div class="kt-grid-nav__row">
                            <router-link tag="a"
                                         to="/settings/references"
                                         v-if="$_hasAccess('View References')"
                                         data-toggle="dropdown"
                                         class="kt-grid-nav__item">
                                <span class="kt-grid-nav__icon">

                                    <svg
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--lg">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
                                            <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
                                        </g>
                                    </svg>
                                </span>
                                <span
                                        class="kt-grid-nav__title">References</span>
                            </router-link>
                        </div>
                    </div>
                    <!--end: Grid Nav -->
                </form>
            </div>
        </div>
        <!--begin: User bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user">

            <div class="kt-header__topbar-wrapper"
                 data-toggle="dropdown"
                 data-offset="0px,10px">
                <span
                        class="kt-header__topbar-welcome kt-visible-desktop">Hi,</span><span
                    class="kt-header__topbar-username kt-visible-desktop">{{ user }}</span>
                <img class="kt-hidden" alt="Pic" src=""/>
                <span
                        class="kt-header__topbar-icon kt-bg-brand kt-font-lg kt-font-bold kt-font-light">{{ user.charAt(0) }}</span>
                <span class="kt-header__topbar-icon kt-hidden"><i
                        class="flaticon2-user-outline-symbol"></i></span>
            </div>
            <div
                    class="dropdown-menu dropdown-menu-right">
                <!--begin: Navigation -->
                <button class="dropdown-item"
                        @click.prevent="$_logout"
                        type="button">Logout
                </button>
                <!--end: Navigation -->
            </div>
        </div>
        <!--end: User bar -->
    </div>
</template>

<script>
    export default {
        name : "header-topbar",

        mounted() {
            this.$_getAuthenticatedUser();
        }
    }
</script>

<style scoped>

</style>