<template>
    <div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " data-ktheader-minimize="on" >
        <div class="kt-header__top">
            <div class="kt-container">
                <!--[html-partial:include:{"file":"partials\/_header-brand.html"}]/-->
                <header-brand></header-brand>
                <!--[html-partial:include:{"file":"partials\/_header-topbar.html"}]/-->
                <header-topbar></header-topbar>
            </div>
        </div>
        <div class="kt-header__bottom">
            <div class="kt-container">
                <!--[html-partial:include:{"file":"partials\/_header-menu.html"}]/-->
                <header-menu></header-menu>
            </div>
        </div>
    </div>
</template>

<script>
    import HeaderBrand from './header-brand';
    import HeaderTopbar from './header-topbar';
    import HeaderMenu from '../menu/header-menu';

    export default {
        name : "header-base",

        components : {
            HeaderBrand,
            HeaderTopbar,
            HeaderMenu
        },

        mounted() {
        }
    }
</script>

<style scoped>

</style>