<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <h1>Permission Denied</h1><br>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "NoAccess"
    }
</script>

<style scoped>

</style>