<template>
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <!--<h4 class="card-title">Login</h4>-->
                        <form method="POST"
                              id="login_form"
                              @submit.prevent="submitLogin">

                            <div
                                    class="alert alert-danger text-center"
                                    role="alert"
                                    v-if="serverError">
                                <b>{{ serverErrorMsg }}</b>
                            </div>

                            <input type="hidden" name="_token" :value="csrf">



                            <!--<div class="form-group">-->
                                <!--<label-->
                                        <!--:for="loginParameter"-->
                                <!--&gt;{{ loginParameterLabel-->
                                 <!--}}</label>-->

                                <!--<input :id="loginParameter"-->
                                       <!--type="text"-->
                                       <!--class="form-control"-->
                                       <!--name="user"-->
                                       <!--value="" required-->
                                       <!--v-model="user"-->
                                       <!--:class="{-->
                                       <!--'is-invalid' : serverError }"-->
                                       <!--autofocus>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="password">Password-->
                                <!--</label>-->
                                <!--<input id="password"-->
                                       <!--type="password"-->
                                       <!--class="form-control"-->
                                       <!--name="password"-->
                                       <!--required data-eye-->
                                       <!--v-model="password"-->
                                       <!--:class="{-->
                                       <!--'is-invalid' : serverError }">-->
                            <!--</div>-->

                            <!--<div class="form-group"-->
                                 <!--v-if="loginRememberMe">-->
                                <!--<label>-->
                                    <!--<input type="checkbox"-->
                                           <!--name="remember"-->
                                           <!--v-model="rememberMe">-->
                                    <!--Remember Me-->
                                <!--</label>-->
                            <!--</div>-->

                            <div class="form-group no-margin">
                                <button type="submit"
                                        class="btn btn-primary btn-block"
                                        :disabled="loginBtnDisabled">
                                    <div v-if="loginBtnDisabled">
                                        <span class="spinner-border spinner-border-sm"
                                              role="status"
                                              aria-hidden="true"></span>
                                        Loading...
                                    </div>

                                    <div v-else>
                                        Login
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright © SWH Application
                    Development Team 2019
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "Login",
        props : [
            'loginParameterLabel',
            'loginParameter',
            'loginRememberMe'
        ],
        data() {
            return {
                user : '',
                password : '',
                rememberMe : '',
                serverError : false,
                serverErrorMsg : '',
                loginBtnDisabled : false,
                csrf: document.head.querySelector('meta[name="csrf-token"]').content
            }
        },
        methods : {
            submitLogin : function () {
                this.resetServerError();
                this.loginBtnDisabled = true;

                window.location.href = '/login/microsoft';
            },

            resetServerError : function () {
                this.serverErrorMsg = '';
                this.serverError = false;
            },

            setServerError : function (msg) {
                this.serverError = true;
                this.serverErrorMsg = msg;
            }
        }
    }
</script>

<style scoped>

</style>