<template>
    <div class="kt-subheader kt-grid__item"
         id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Case Details
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <router-link
                        to="/case-maintenance/index"
                        class="kt-subheader__breadcrumbs-home">
                    <i class="flaticon2-shelter"></i>
                </router-link>
                <span
                        class="kt-subheader__breadcrumbs-separator"></span>
                <router-link
                        to="/case-maintenance/index"
                        class="kt-subheader__breadcrumbs-link">
                    Case Maintenance
                </router-link>
                <span
                        class="kt-subheader__breadcrumbs-separator"></span>
                <a href=""
                   class="kt-subheader__breadcrumbs-link">
                    Case Details </a>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "sub-header",
    }
</script>

<style scoped>

</style>