<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div
                                class="d-flex justify-content-center"
                                v-if="this.showModalLoader">
                            <span>Please Wait...&emsp;</span>
                            <div
                                    class="kt-spinner kt-spinner--primary kt-spinner--lg"
                                    role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="col-sm-4" v-else>
                            <div class="form-group">
                                <label>Role
                                </label>
                                <v-select label="name"
                                          v-on:input="getAssignedPermissions"
                                          v-model="fields.role_id"
                                          :options="roles"
                                          :reduce="name => name.id"></v-select>
                            </div>

                            <div class="form-group">
                                <label>Permissions
                                </label>
                                <v-select label="name"
                                          v-model="fields.permission_ids"
                                          :options="permissions"
                                          :reduce="name => name.id"
                                          :multiple="true"
                                          :key="fields.permission_ids"
                                          :disabled="fields.role_id == null"
                                          :close-on-select="false"></v-select>
                            </div>

                            <div class="kt-form__actions"
                                 v-if="$_hasAccess('Assign Permissions to Roles')">
                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="saveRole(); showButtonLoader = true;"
                                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                   data-type="2">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "RolesModule",

        data() {
            return {
                showModalLoader : true,
                showButtonLoader : false,
                uri : {
                    getRoles : '/api/roles',
                    getPermissions : '/api/permissions',
                    saveRole : '/api/roles-permission',
                    getAssignedPermissions :
                        '/api/roles-permission/'
                },
                roles : [],
                permissions : [],
                fields : {
                    role_id : null,
                    permission_ids : null
                }
            }
        },

        created() {
            if (!this.$_hasAccess('View Roles')) {
                this.$router.push('/no-access');
            }
        },

        components : {
            SubHeader
        },

        mounted() {
            let vm = this;
            Axios.all([
                this.getRoles(),
                this.getPermissions()
            ]).then(Axios.spread(function (acct, perms) {
                vm.showModalLoader = false;
            }));
        },

        methods : {
            getRoles() {
                let vm = this;
                return Axios.get(this.uri.getRoles)
                    .then(function (response) {
                        vm.roles = response.data;
                    });
            },

            getPermissions() {
                let vm = this;

                return Axios.get(this.uri.getPermissions)
                    .then(function (response) {
                        vm.permissions = response.data;
                    });
            },

            saveRole() {
                let vm = this;
                return Axios.post(this.uri.saveRole,
                    this.fields)
                    .then(function (response) {
                        _toastr('success',
                            response.data.message);
                        vm.showButtonLoader = false;
                    });
            },

            getAssignedPermissions() {
                let vm = this;
                if (this.fields.role_id) {
                    return Axios.get(this.uri.getAssignedPermissions
                        + this.fields.role_id)
                        .then(function (response) {
                            vm.fields.permission_ids =
                                response.data.map(function (perms) {
                                    return perms.id;
                                });
                        });
                } else {
                    this.fields.permission_ids = null;
                }
            }
        }
    }
</script>

<style scoped>

</style>