<template>
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name : "case-maintenance"
    }
</script>

<style scoped>

</style>