<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header
                :showButtonLoader="this.showButtonLoader"
                :showModalLoader="this.showModalLoader"
                :edit="this.edit"
        ></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <a href="#"
                               class="btn btn-primary"
                               v-on:click.prevent="$router.go(-1)"
                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                <i class="flaticon2-back"
                                   v-if="!showButtonLoader &&
                       !showModalLoader"></i>
                                <span class="text"
                                      data-type="1">Back</span>
                            </a>
                            &emsp;
                            <a
                                    href=""
                                    class="btn btn-primary float-right"
                                    v-if="edit"
                                    v-on:click.prevent="$_exportFile(uri.exportPdf +
                    editCaseId, 'CASE-' + editCaseId + '-' +
                        today + '.pdf')">Export
                                         PDF</a>
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            <a href="#"
                               class="btn btn-primary"
                               v-on:click.prevent="submitCaseForm(1); showButtonLoader = true;"
                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                               data-type="1">
                                <i
                                        class="flaticon2-download"
                                        v-if="!showButtonLoader && !showModalLoader"></i>
                                Save
                            </a>

                            <a href="#"
                               class="btn btn-primary"
                               v-on:click.prevent="$router.push('/case-maintenance')"
                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                <i
                                        class="flaticon-cancel"
                                        v-if="!showButtonLoader && !showModalLoader"></i>
                                Cancel
                            </a>

                            <a href="#"
                               class="btn btn-primary"
                               ref="newBtn"
                               v-on:click.prevent="submitCaseForm(2); showButtonLoader = true;"
                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                               data-type="2">
                                <i
                                        class="flaticon2-plus"
                                        v-if="!showButtonLoader && !showModalLoader"></i>
                                New
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div
                            class="d-flex justify-content-center"
                            v-if="this.showModalLoader">
                        <span>Please Wait...&emsp;</span>
                        <div
                                class="kt-spinner kt-spinner--primary kt-spinner--lg"
                                role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div v-else>
                        <form id="caseForm"
                              v-on:keydown="ctrlEnterSubmit($event)">
                            <input type="hidden"
                                   name="case_id"
                                   v-model="editCaseId">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label
                                                for="is_practice_case"
                                                class="col-sm-3 col-form-label">Practice Case
                                        </label>
                                        <span class="kt-switch">
                                            <label>
                                                <input
                                                        type="checkbox" name="is_practice_case" id="is_practice_case" v-model="fields.is_practice_case">
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="case_type_id"
                                                class="col-sm-3 col-form-label">Case
                                                                                Type
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <select
                                                    name="case_type_id"
                                                    id="case_type_id"
                                                    class="form-control form-control-sm kt-select2"
                                                    v-bind:class="{ 'is-invalid' : errors.case_type_id }"
                                                    @change="getServiceLines($event.target.value); hasPoa($event.target.value);"
                                                    v-model="fields.case_type_id">
                                                <option value=""></option>
                                                <option v-for="caseType in caseTypes"
                                                        :value="caseType.id">
                                                    {{
                                                    caseType.description
                                                    }}
                                                </option>
                                            </select>
                                            <div
                                                    class="invalid-feedback"
                                                    id="case_type_id_feedback">
                                                {{
                                                errors.case_type_id
                                                ?
                                                errors.case_type_id[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="service_line_id"
                                                class="col-sm-3 col-form-label">Service
                                                                                Line
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <select
                                                    name="service_line_id"
                                                    id="service_line_id"
                                                    class="form-control form-control-sm kt-select2"
                                                    v-bind:class="{ 'is-invalid' : errors.service_line_id }"
                                                    @change="getSystems($event.target.value)"
                                                    v-model="fields.service_line_id">
                                                <option value=""></option>
                                                <option :value="serviceLine.id"
                                                        v-for="serviceLine in serviceLines">
                                                    {{
                                                    serviceLine.description
                                                    }}
                                                </option>
                                            </select>
                                            <div
                                                    class="invalid-feedback"
                                                    id="service_line_id_feedback">
                                                {{
                                                errors.service_line_id
                                                ?
                                                errors.service_line_id[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="system"
                                                class="col-sm-3 col-form-label">System
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <select
                                                    name="system"
                                                    id="system"
                                                    class="form-control form-control-sm kt-select2"
                                                    v-bind:class="{ 'is-invalid' : errors.system }"
                                                    v-model="fields.system">
                                                <option value=""></option>
                                                <option :value="system.id"
                                                        v-for="system in systems">
                                                    {{
                                                    system.description
                                                    }}
                                                </option>
                                            </select>
                                            <div
                                                    class="invalid-feedback"
                                                    id="system_feedback">
                                                {{
                                                errors.system
                                                ?
                                                errors.system[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="description"
                                                class="col-sm-3 col-form-label">Description
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <input
                                                    type="text"
                                                    name="description"
                                                    id="description"
                                                    class="form-control form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.description }"
                                                    v-model="fields.description"
                                                    maxlength="50">
                                            <div
                                                    class="invalid-feedback"
                                                    id="description_feedback">
                                                {{
                                                errors.description
                                                ?
                                                errors.description[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="facility"
                                                class="col-sm-3 col-form-label">Facility</label>
                                        <div
                                                class="col-sm-9">
                                            <input
                                                    type="text"
                                                    name="facility"
                                                    id="facility"
                                                    class="form-control form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.facility }"
                                                    v-model="fields.facility"
                                                    maxlength="30">
                                            <div
                                                    class="invalid-feedback"
                                                    id="facility_feedback">
                                                {{
                                                errors.facility
                                                ?
                                                errors.facility[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="account"
                                                class="col-sm-3 col-form-label">Account
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <input
                                                    type="text"
                                                    name="account"
                                                    id="account"
                                                    class="form-control form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.account }"
                                                    v-model="fields.account"
                                                    maxlength="10">
                                            <div
                                                    class="invalid-feedback"
                                                    id="account_feedback">
                                                {{
                                                errors.account
                                                ?
                                                errors.account[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="patient"
                                                class="col-sm-3 col-form-label">Patient</label>
                                        <div
                                                class="col-sm-9">
                                            <input
                                                    type="text"
                                                    name="patient"
                                                    id="patient"
                                                    class="form-control form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.patient }"
                                                    v-model="fields.patient"
                                                    maxlength="50">
                                            <div
                                                    class="invalid-feedback"
                                                    id="patient_feedback">
                                                {{
                                                errors.patient
                                                ?
                                                errors.patient[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="discharge"
                                                class="col-sm-3 col-form-label">Discharge</label>
                                        <div
                                                class="col-sm-9">
                                            <date-picker
                                                    v-model="fields.discharge"
                                                    class="form-control-sm"
                                                    v-bind:class="{ 'is=invalid' : errors.discharge }"
                                                    name="discharge"
                                                    id="discharge"
                                                    :config="datepicker.options"></date-picker>
                                            <div
                                                    class="invalid-feedback"
                                                    id="discharge_feedback">
                                                {{
                                                errors.discharge
                                                ?
                                                errors.discharge[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="admission"
                                                class="col-sm-3 col-form-label">Admission</label>
                                        <div
                                                class="col-sm-9">
                                            <date-picker
                                                    v-model="fields.admission"
                                                    class="form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.admission }"
                                                    name="admission"
                                                    id="admission"
                                                    :config="datepicker.options"></date-picker>
                                            <div
                                                    class="invalid-feedback"
                                                    id="admission_feedback">
                                                {{
                                                errors.admission
                                                ?
                                                errors.admission[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="file"
                                                class="col-sm-3 col-form-label">File
                                            <span class="text-danger">*</span></label>
                                        <div
                                                class="col-sm-9">
                                            <input
                                                    type="file"
                                                    class="form-control form-control-sm"
                                                    v-bind:class="{ 'is-invalid' : errors.file }"
                                                    id="file"
                                                    name="file">
                                            <div
                                                    class="invalid-feedback"
                                                    id="file_feedback">
                                                {{
                                                errors.file
                                                ?
                                                errors.file[0]
                                                : '' }}
                                            </div>
                                            <small
                                                    id="file_name"
                                                    class="form-text text-muted"
                                                    v-if="edit">
                                                Uploaded
                                                File:
                                                <a
                                                        href=""
                                                        v-on:click.prevent="$_exportFile(uri.downloadPdf +
                    editCaseId,
                    $event.target.innerHTML)">{{
                                              file
                                              }}</a>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div
                                                class="col-md-6">
                                            <h3
                                                    class="kt-font-primary">
                                                Answer
                                                Keys</h3>
                                        </div>
                                    </div>
                                    <div class="kt-divider">
                                        <span></span>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div
                                                class="col-md-6">
                                            <h4>
                                                Diagnosis
                                            </h4>
                                            <div
                                                    class="alert alert-solid-danger alert-bold SDPDX_dup_codes"
                                                    v-bind:class="{ 'kt-hidden' : !errors.SDPDX_dup_codes }"
                                                    role="alert">
                                                <div
                                                        class="alert-text"
                                                        id="SDPDX_dup_codes_feedback">
                                                    {{
                                                    errors.SDPDX_dup_codes
                                                    ?
                                                    errors.SDPDX_dup_codes
                                                    : '' }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div
                                                            class="alert alert-solid-danger alert-bold SDPDX_dup_codes"
                                                            v-bind:class="{ 'kt-hidden' : !errors.dup_codes_pdx }"
                                                            role="alert">
                                                        <div
                                                                class="alert-text"
                                                                id="dup_codes_pdx_feedback">
                                                            {{
                                                            errors.dup_codes_pdx
                                                            ?
                                                            errors.dup_codes_pdx
                                                            :
                                                            ''
                                                            }}
                                                        </div>
                                                    </div>
                                                    <table
                                                            class="table table-sm table-bordered table-hover text-center"
                                                    >
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 50px;">
                                                                <a href="#"
                                                                   class="btn btn-success btn-sm btn-circle btn-icon"
                                                                   v-on:click.prevent="addPdx()">
                                                                    <i class="flaticon2-plus"></i>
                                                                </a>
                                                            </th>
                                                            <th>
                                                                POA
                                                            </th>
                                                            <th>
                                                                PDX
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr
                                                                v-for="(value, key) in pdxAnsCount">
                                                            <td>
                                                                <a href="#"
                                                                   class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="$_removeRow($event)">
                                                                    <i class="flaticon-delete"></i>
                                                                </a>
                                                            </td>
                                                            <td style="width: 50%">
                                                                <!--<input type="text"-->
                                                                <!--class="form-control SDPDX_dup_codes form-control-sm"-->
                                                                <!--:class="'pdx_poa_' + key"-->
                                                                <!--name="pdx_poa[]"-->
                                                                <!--v-bind:disabled="!caseTypePoa"-->
                                                                <!--v-model="fields.keyset.pdx[key].poa">-->
                                                                <select name="pdx_poa[]"
                                                                        class="form-control SDPDX_dup_codes form-control-sm"
                                                                        v-bind:class="arrayKeyExists(errors.pdx_poa, key) ? 'is-invalid' : ''"
                                                                        v-bind:disabled="!caseTypePoa"
                                                                        v-model="fields.keyset.pdx[key].poa">
                                                                    <option value=""></option>
                                                                    <option value="Y">
                                                                        Y
                                                                    </option>
                                                                    <option value="N">
                                                                        N
                                                                    </option>
                                                                    <option value="E">
                                                                        E
                                                                    </option>
                                                                    <option value="U">
                                                                        U
                                                                    </option>
                                                                    <option value="W">
                                                                        W
                                                                    </option>
                                                                </select>
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'pdx_poa_' + key + '_feedback'">
                                                                    {{
                                                                    errors.pdx_poa
                                                                    ?
                                                                    errors.pdx_poa[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                            <td style="width: 50%">
                                                                <input type="text"
                                                                       class="form-control SDPDX_dup_codes form-control-sm"
                                                                       v-bind:class="arrayKeyExists(errors.pdx_code, key) ? 'is-invalid' : ''"
                                                                       name="pdx_code[]"
                                                                       v-model="fields.keyset.pdx[key].code">
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'pdx_code_' + key + '_feedback'">
                                                                    {{
                                                                    errors.pdx_code
                                                                    ?
                                                                    errors.pdx_code[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div
                                                            class="alert alert-solid-danger alert-bold SDPDX_dup_codes"
                                                            v-bind:class="{ 'kt-hidden' : !errors.dup_codes_sdx }"
                                                            role="alert">
                                                        <div
                                                                class="alert-text"
                                                                id="dup_codes_sdx_feedback">
                                                            {{
                                                            errors.dup_codes_sdx
                                                            ?
                                                            errors.dup_codes_sdx
                                                            :
                                                            ''
                                                            }}
                                                        </div>
                                                    </div>
                                                    <table
                                                            class="table table-sm table-bordered table-hover text-center"
                                                    >
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 50px;">
                                                                <a href="#"
                                                                   class="btn btn-success btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="addSdx">
                                                                    <i class="flaticon2-plus"></i>
                                                                </a>
                                                            </th>
                                                            <th>
                                                                POA
                                                            </th>
                                                            <th>
                                                                SDX
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr
                                                                v-for="(value, key) in sdxAnsCount">
                                                            <td>
                                                                <a href="#"
                                                                   class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="$_removeRow($event);">
                                                                    <i class="flaticon-delete"></i>
                                                                </a>
                                                            </td>
                                                            <td style="width: 50%">
                                                                <!--<input type="text"-->
                                                                <!--class="form-control form-control-sm"-->
                                                                <!--:class="'sdx_poa_' + key"-->
                                                                <!--name="sdx_poa[]"-->
                                                                <!--v-bind:disabled="!caseTypePoa"-->
                                                                <!--v-model="fields.keyset.sdx[key].poa">-->
                                                                <select class="form-control form-control-sm"
                                                                        v-bind:class="arrayKeyExists(errors.sdx_poa, key) ? 'is-invalid' : ''"
                                                                        name="sdx_poa[]"
                                                                        v-bind:disabled="!caseTypePoa"
                                                                        v-model="fields.keyset.sdx[key].poa">
                                                                    <option value=""></option>
                                                                    <option value="Y">
                                                                        Y
                                                                    </option>
                                                                    <option value="N">
                                                                        N
                                                                    </option>
                                                                    <option value="E">
                                                                        E
                                                                    </option>
                                                                    <option value="U">
                                                                        U
                                                                    </option>
                                                                    <option value="W">
                                                                        W
                                                                    </option>
                                                                </select>
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'sdx_poa_' + key + '_feedback'">
                                                                    {{
                                                                    errors.sdx_poa
                                                                    ?
                                                                    errors.sdx_poa[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                            <td style="width: 50%">
                                                                <input type="text"
                                                                       class="form-control form-control-sm"
                                                                       v-bind:class="arrayKeyExists(errors.sdx_code, key) ? 'is-invalid' : ''"
                                                                       name="sdx_code[]"
                                                                       v-model="fields.keyset.sdx[key].code">
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'sdx_code_' + key + '_feedback'">
                                                                    {{
                                                                    errors.sdx_code
                                                                    ?
                                                                    errors.sdx_code[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <h4>
                                                Procedure
                                            </h4>
                                            <div
                                                    class="alert alert-solid-danger alert-bold PPXSPX_dup_codes"
                                                    v-bind:class="{ 'kt-hidden' : !errors.PPXSPX_dup_codes }"
                                                    role="alert">
                                                <div
                                                        class="alert-text"
                                                        id="PPXSPX_dup_codes_feedback">
                                                    {{
                                                    errors.PPXSPX_dup_codes
                                                    ?
                                                    errors.PPXSPX_dup_codes
                                                    : '' }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div
                                                            class="alert alert-solid-danger alert-bold SDPDX_dup_codes"
                                                            v-bind:class="{ 'kt-hidden' : !errors.dup_codes_ppx }"
                                                            role="alert">
                                                        <div
                                                                class="alert-text"
                                                                id="dup_codes_ppx_feedback">
                                                            {{
                                                            errors.dup_codes_ppx
                                                            ?
                                                            errors.dup_codes_ppx
                                                            :
                                                            ''
                                                            }}
                                                        </div>
                                                    </div>
                                                    <table
                                                            class="table table-sm table-bordered table-hover"
                                                    >
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <a href="#"
                                                                   class="btn btn-success btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="ppxAnsCount++">
                                                                    <i class="flaticon2-plus"></i>
                                                                </a>
                                                            </th>
                                                            <th>
                                                                PPX
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr
                                                                v-for="(value, key) in ppxAnsCount">
                                                            <td>
                                                                <a href="#"
                                                                   class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="$_removeRow($event)">
                                                                    <i class="flaticon-delete"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control form-control-sm"
                                                                       v-bind:class="arrayKeyExists(errors.ppx_code, key) ? 'is-invalid' : ''"
                                                                       name="ppx_code[]"
                                                                       :value="fields.keyset.ppx[key] ? fields.keyset.ppx[key] : ''"
                                                                       @input="fields.keyset.ppx[key] = $event.target.value">
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'ppx_code_' + key + '_feedback'">
                                                                    {{
                                                                    errors.ppx_code
                                                                    ?
                                                                    errors.ppx_code[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div
                                                            class="alert alert-solid-danger alert-bold SDPDX_dup_codes"
                                                            v-bind:class="{ 'kt-hidden' : !errors.dup_codes_spx }"
                                                            role="alert">
                                                        <div
                                                                class="alert-text"
                                                                id="dup_codes_spx_feedback">
                                                            {{
                                                            errors.dup_codes_spx
                                                            ?
                                                            errors.dup_codes_spx
                                                            :
                                                            ''
                                                            }}
                                                        </div>
                                                    </div>

                                                    <table
                                                            class="table table-sm table-bordered table-hover"
                                                    >
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <a href="#"
                                                                   class="btn btn-success btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="spxAnsCount++">
                                                                    <i class="flaticon2-plus"></i>
                                                                </a>
                                                            </th>
                                                            <th>
                                                                SPX
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr
                                                                v-for="(value, key) in spxAnsCount">
                                                            <td>
                                                                <a href="#"
                                                                   class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                   v-on:click.prevent="$_removeRow($event)">
                                                                    <i class="flaticon-delete"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control form-control-sm dup_codes_spx"
                                                                       v-bind:class="arrayKeyExists(errors.spx_code, key) ? 'is-invalid' : ''"
                                                                       name="spx_code[]"
                                                                       :value="fields.keyset.spx[key] ? fields.keyset.spx[key] : ''"
                                                                       @input="fields.keyset.spx[key] = $event.target.value">
                                                                <div
                                                                        class="invalid-feedback"
                                                                        :id="'spx_code_' + key + '_feedback'">
                                                                    {{
                                                                    errors.spx_code
                                                                    ?
                                                                    errors.spx_code[key]
                                                                    :
                                                                    ''
                                                                    }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label
                                                        for="rationale">Rationale
                                                    <span class="text-danger">*</span></label>
                                                <textarea
                                                        name="rationale"
                                                        id="rationale"
                                                        class="form-control form-control-sm"
                                                        v-bind:class="{ 'is-invalid' : errors.rationale }"
                                                        cols="30"
                                                        rows="10">{{ fields.rationale }}</textarea>
                                                <div
                                                        class="invalid-feedback"
                                                        id="rationale_feedback">
                                                    {{
                                                    errors.rationale
                                                    ?
                                                    errors.rationale[0]
                                                    : '' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/form'
    import Axios from 'axios';

    export default {
        name : "case-form",

        components : {
            SubHeader
        },

        beforeRouteLeave(to, from, next) {
            if (to.hash == '#success' || to.hash) {
                next();
            } else {
                this.showButtonLoader = true;
                Swal.fire({
                    title : 'Are you sure?',
                    text : "You won't be able to revert this!",
                    type : 'warning',
                    showCancelButton : true,
                    confirmButtonText : 'Yes, discard form',
                    cancelButtonText : 'No'
                }).then((result) => {
                    if (result.value) {
                        next();
                    } else {
                        this.showButtonLoader = false;
                    }
                })
            }
        },

        created() {
            if(!this.$_hasAccess('Add Case')) {
                this.$router.push('/no-access#');
            }
        },

        data() {
            return {
                showButtonLoader : false,
                showModalLoader : true,
                edit : false,
                editCaseId : 0,
                pdxAnsCount : 1,
                sdxAnsCount : 1,
                ppxAnsCount : 1,
                spxAnsCount : 1,
                caseTypePoa : false,
                caseTypes : [],
                serviceLines : [],
                systems : [],
                statuses : [],
                fields : {
                    is_practice_case : false,
                    case_type_id : '',
                    service_line_id : '',
                    system : '',
                    description : '',
                    facility : '',
                    account : '',
                    patient : '',
                    discharge : null,
                    admission : null,
                    status : '',
                    file : '',
                    rationale : '',
                    keyset : {
                        pdx : {
                            0 : {
                                code : "",
                                poa : ""
                            }
                        },
                        sdx : {
                            0 : {
                                code : "",
                                poa : ""
                            }
                        },
                        ppx : {},
                        spx : {}
                    }
                },
                uri : {
                    exportPdf : '/api/cases/export/pdf/',
                    downloadPdf : '/api/cases/download/pdf/',
                },
                file : null
            }
        },

        mounted() {
            // TODO: Check if user has edit access to case id
            //If form is for Edit
            this.$_getCodeReferences();
            if (this.$route.params.caseid) {
                let caseTypeId = '', self = this;
                this.edit = true;
                this.editCaseId = this.$route.params.caseid;

                Axios.all([
                    self.getCaseTypes(),
                    self.getSystems(),
                    self.getCaseDetails(this.$route.params.caseid).then((response) => {
                        caseTypeId =
                            response.data.case_type_id;
                        self.populateFormWithDetails(response.data);
                    })
                ])
                    .then(Axios.spread(function
                        (acct, perms) {
                        self.hasPoa(caseTypeId);
                        self.getServiceLines(self.fields.case_type_id)
                            .then((response) => {
                                self.showModalLoader =
                                    false;
                            });
                    }));
            } else {
                this.showCaseForm();
            }
        },

        methods : {
            fillUpForm() {
                Axios.all([
                    this.getCaseTypes()
                ])
                    .then(Axios.spread((acct, perms) => {
                        this.showModalLoader = false;
                    }))
                    .catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                    });
            },

            showCaseForm() {
                var self = this;
                Axios.all([
                    this.getCaseTypes(),
                    this.getSystems()
                ]).then(Axios.spread(function
                    (acct, perms) {
                    self.showModalLoader = false;
                })).catch((error) => {
                    _toastr('error',
                        error.response.data.message);
                });
            },

            getCaseTypes() {
                return Axios.get('/api/case-types').then((response) => {
                    this.caseTypes = response.data;
                }).catch((error) => {
                    this.getCaseTypes();
                });
            },

            getServiceLines(caseId) {
                return Axios.get('/api/service-lines/' +
                    caseId).then((response) => {
                    this.serviceLines = response.data;
                }).catch((error) => {
                    this.getServiceLines(caseId);
                });
            },

            getSystems() {
                Axios.get('/api/systems').then((response) => {
                    this.systems = response.data;
                }).catch((error) => {
                    this.getSystems();
                });
            },

            submitCaseForm(event) {
                this.errors = [];
                var _data = new FormData($('#caseForm')[0]);
                var _axios = '';

                if (this.edit) {
                    _data.append('_method', 'PATCH');
                    _axios = Axios.post('/api/cases/' +
                        this.editCaseId,
                        _data);
                } else {
                    _axios = Axios.post('/api/cases', _data);
                }

                _axios.then((response) => {
                    if (event == 1) {
                        _toastr('success',
                            response.data.message);
                        this.$router.push('/case-maintenance/index#success');
                    } else {
                        _toastr('success',
                            response.data.message);
                        this.$_resetFields();
                        this.$router.push('/case-maintenance/create#success');
                        this.showButtonLoader = false;
                        this.showModalLoader = false;
                    }
                }).catch((error) => {
                    _toastr('error',
                        error.response.data.message);
                    this.$_displayValidationError(error.response.data.errors);
                    this.showButtonLoader = false;
                });
            },

            hasPoa(id) {
                var self = this;
                $.each(this.caseTypes, function (key,
                                                 value) {
                    if (value.id ==
                        id) {
                        self.caseTypePoa = value.with_poa;
                    }
                });
            },

            getCaseDetails(id) {
                return Axios.get('/api/cases/' + id +
                    '/edit');
            },

            populateFormWithDetails(data) {
                var self = this;
                $.each(data, function (key, value) {
                    if (key === 'discharge' || key ===
                        'admission') {
                        self.fields[key] = value ? new Date(self.fields[key] = value) : null;
                    } else if (key === 'file') {
                        self.file = value;
                    } else {
                        self.fields[key] = value;
                    }

                    if (key === 'keyset') {
                        $.each(value, function (key,
                                                value) {
                            if (key === 'pdx') {
                                self.pdxAnsCount =
                                    value.length;
                            }

                            if (key === 'sdx') {
                                self.sdxAnsCount =
                                    value.length;
                            }

                            if (key === 'ppx') {
                                self.ppxAnsCount =
                                    value.length;
                            }

                            if (key === 'spx') {
                                self.spxAnsCount =
                                    value.length;
                            }
                        });
                    }
                });
            },

            addPdx() {
                this.pdxAnsCount++;

                this.fields.keyset.pdx[this.pdxAnsCount -
                1] = {poa : "", code : ""};
            },

            addSdx() {
                this.sdxAnsCount++;

                this.fields.keyset.sdx[this.sdxAnsCount -
                1] = {poa : "", code : ""};
            },

            ctrlEnterSubmit(event) {
                if (event.keyCode == 13 && event.ctrlKey) {
                    this.$refs.newBtn.click();
                }
            },

            arrayKeyExists(array, key) {
                if (array) {
                    if (array[key] === undefined) {
                        return false;
                    } else {
                        return true;
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>