<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--BUTTONS-->
                        <div class="row">
                            <div class="col-sm-10">
                                <router-link
                                        to="/case-maintenance/create"
                                        class="btn btn-primary"
                                        v-if="$_hasAccess('Add Case')">
                                    <i
                                            class="flaticon-plus"></i>
                                    Add
                                </router-link>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="$_deleteRow(uri.deleteCases, table)"
                                   v-if="$_hasAccess('Delete Case')">
                                    <i
                                            class="flaticon2-trash"></i>
                                    Delete
                                </a>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="$_exportFile(uri.exportToCSV, 'CASE-MAINTENANCE-' +
                        today + '.csv')"
                                   v-bind:class="showButtonLoader ||
                       showModalLoader ?
                       'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                   v-if="$_hasAccess('Export Cases to CSV')">

                                    <i class="flaticon-file"
                                       v-if="!showButtonLoader &&
                           !showModalLoader"></i>
                                    Export to CSV
                                </a>
                            </div>
                            <div
                                    class="col-sm-2"
                                    v-if="$_hasAccess('Search Cases')">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search..."
                                           v-model="tableSearchString"
                                           @keyup="$_searchTable(table, tableSearchString)">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span>
                                            <i
                                                    class="flaticon-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--TABLE-->
                        <div class="row">
                            <div
                                    class="col-xs-12 table-responsive"
                                    v-if="$_hasAccess('View Cases Table')">

                                <table id="case-maintenance-table"
                                       class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input
                                                        type="checkbox"
                                                        class="custom-control-input"
                                                        id="selectAll"
                                                        v-on:change="$_selectAllCheckbox()">
                                                <label class="custom-control-label"
                                                       for="selectAll"></label>
                                            </div>
                                        </th>
                                        <th id="id">id</th>
                                        <th>Case Type</th>
                                        <th>Service Line
                                        </th>
                                        <th>System</th>
                                        <th>Description</th>
                                        <th>Facility</th>
                                        <th>Last Updated
                                        </th>
                                        <th>Updated By</th>
                                        <th>File</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="9"
                                            class="text-center"
                                        >
                                            <div class="spinner-border"
                                                 role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "index",

        components : {
            SubHeader
        },

        data() {
            return {
                showModalLoader : false,
                showButtonLoader : false,
                table : null,
                uri : {
                    deleteCases : '/api/cases',
                    exportToCSV : '/api/cases/export/csv',
                    editRoute : '/case-maintenance/edit/'
                },
                tableSearchString : ''
            }
        },

        created() {
            if (!this.$_hasAccess('View Case Maintenance')) {
                this.$router.push('/no-access');
            }
        },

        mounted() {
            this.table = this.caseMaintenanceTableInit();

            if (this.$_hasAccess('Edit Case')) {
                this.$_tableRowClickableInit(this.uri.editRoute, '#case-maintenance-table');
            }
        },

        methods : {
            caseMaintenanceTableInit() {
                return $('#case-maintenance-table').DataTable({
                    processing : true,
                    serverSide : true,
                    destroy : true,
                    order : [
                        [
                            1,
                            'desc'
                        ]
                    ],
                    ajax : {
                        "url" : '/api/cases',
                        type : 'GET',
                        complete: function(d) {
                            $('#selectAll:checkbox').prop('checked', false).removeAttr('checked');
                        }
                    },
                    columns : [
                        {
                            data : 'checkbox',
                            width :
                                '50px',
                            'class' :
                                'text-center checkBox',
                            'sortable' : false,
                            'searchable' : false
                        },
                        {
                            data : 'id',
                            'class' : 'd-none'
                        },
                        {
                            data : 'case_type_id',
                            name : 'case_types.description'
                        },
                        {
                            data : 'service_line_id',
                            name :
                                'service_lines.description'
                        },
                        {
                            data : 'system',
                            name : 'systems.description'
                        },
                        {
                            data : 'description',
                            name :
                                'cases.description'
                        },
                        {
                            data : 'facility',
                            name :
                                'cases.facility'
                        },
                        {
                            data : 'updated_at',
                            name :
                                'cases.updated_at'
                        },
                        {
                            data : 'updated_by',
                        },
                        {
                            data : 'file',
                            name :
                                'cases.file'
                        },
                    ],
                    dom :
                        '<t<"float-left" i><"float-right"p><"float-right" l>>',
                    language : {
                        'info' : "Count: _TOTAL_",
                        "lengthMenu" :
                            "_MENU_",
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>