<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div
                                class="d-flex justify-content-center"
                                v-if="this.showModalLoader">
                            <span>Please Wait...&emsp;</span>
                            <div
                                    class="kt-spinner kt-spinner--primary kt-spinner--lg"
                                    role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="row" v-else>
                            <div class="col-sm-4">
                                <form
                                        v-on:submit.prevent="saveUser()">
                                    <div
                                            class="form-group row"
                                            v-if="$_hasAccess('View Users')">
                                        <label
                                                class="col-sm-2">User
                                        </label>
                                        <div
                                                class="col-sm-10">
                                            <v-select
                                                    label="username"
                                                    v-model="edit.user_id"
                                                    :options="users"
                                                    :key="edit.user_id"
                                                    :reduce="username => username.id"></v-select>
                                            <span
                                                    class="form-text text-muted">Select a user to Edit/Delete.</span>
                                            <a href="#"
                                               class="btn btn-primary"
                                               v-if="$_hasAccess('Edit Users')"
                                               v-on:click.prevent="showButtonLoader = true; editUser();"
                                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                                Edit
                                            </a>

                                            <a href="#"
                                               class="btn btn-danger"
                                               v-if="$_hasAccess('Delete Users')"
                                               v-on:click.prevent="showButtonLoader = true; deleteUser();"
                                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                               data-type="2">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                    <h3>
                                        {{ edit.status == 1 ? 'Edit' : 'Add' }} User
                                    </h3>
                                    <div class="form-group">
                                        <label>First Name
                                        </label>
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               v-model="fields.first_name"
                                               v-bind:class="{ 'is-invalid' : errors.first_name }">
                                        <div
                                                class="invalid-feedback">
                                            {{
                                            errors.first_name
                                            ?
                                            errors.first_name[0]
                                            : '' }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Middle Name
                                        </label>
                                        <input type="text"
                                               v-model="fields.middle_name"
                                               class="form-control form-control-sm">
                                    </div>

                                    <div class="form-group">
                                        <label>Last Name
                                        </label>
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               v-model="fields.last_name"
                                               v-bind:class="{ 'is-invalid' : errors.last_name }">
                                        <div
                                                class="invalid-feedback">
                                            {{
                                            errors.last_name
                                            ?
                                            errors.last_name[0]
                                            : '' }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>NT Login
                                        </label>
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               v-model="fields.username"
                                               v-bind:class="{ 'is-invalid' : errors.username }">
                                        <div
                                                class="invalid-feedback">
                                            {{
                                            errors.username
                                            ?
                                            errors.username[0]
                                            : '' }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Roles
                                        </label>
                                        <v-select
                                                label="name"
                                                v-model="fields.role_id"
                                                :options="roles"
                                                :reduce="name => name.id"
                                                :multiple="true"
                                                :key="fields.role_id"></v-select>
                                        <input
                                                type="hidden"
                                                class="form-control"
                                                v-bind:class="{ 'is-invalid' : errors.role_id }">
                                        <div
                                                class="invalid-feedback">
                                            {{
                                            errors.role_id
                                            ?
                                            errors.role_id[0]
                                            : '' }}
                                        </div>
                                    </div>

                                    <div
                                            class="kt-form__actions"
                                            v-if="$_hasAccess('Add Users')">
                                        <a href="#"
                                           class="btn btn-primary"
                                           v-on:click.prevent="saveUser(); showButtonLoader = true;"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                           data-type="2">
                                            Save
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "UsersModule",

        components : {
            SubHeader
        },

        data() {
            return {
                showModalLoader : true,
                showButtonLoader : false,
                uri : {
                    getRoles : '/api/roles',
                    saveUser : '/api/users',
                    getUsers : '/api/users',
                    getUser : '/api/users/',
                    editUser : '/api/users/',
                    deleteUser : '/api/users/'
                },
                edit : {
                    user_id : null,
                    status : 0
                },
                roles : [],
                users : [],
                fields : {
                    role_id : null,
                    first_name : null,
                    middle_name : null,
                    last_name : null,
                    username : null
                }
            }
        },

        mounted() {
            let vm = this;
            Axios.all([
                this.getRoles(),
                this.getUsers()
            ]).then(Axios.spread(function (acct, perms) {
                vm.showModalLoader = false;
            }));
        },

        methods : {
            getRoles() {
                let vm = this;
                return Axios.get(this.uri.getRoles)
                    .then(function (response) {
                        vm.roles = response.data;
                    });
            },

            saveUser() {
                this.errors = [];
                let vm = this;
                let URI = this.edit.status === 0 ?
                    this.uri.saveUser : this.uri.editUser
                    + this.edit.user_id;

                if (this.edit.status === 1) {
                    this.fields._method = 'PATCH';
                }

                return Axios.post(URI,
                    this.fields)
                    .then(function (response) {
                        vm.$_resetFields();
                        vm.getUsers();
                        vm.edit.status = 0;
                        vm.showButtonLoader = false;
                        _toastr('success',
                            response.data.message);
                    }).catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                        this.$_displayValidationError(error.response.data.errors);
                        this.showButtonLoader = false;
                    });
            },

            getUsers() {
                let vm = this;

                return Axios.get(this.uri.getUsers)
                    .then(function (response) {
                        vm.users = response.data;
                    });
            },

            editUser() {
                let vm = this;

                if (this.edit.user_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a user to edit');
                    // vm.$_resetFields();
                } else {
                    return Axios.get(this.uri.getUser +
                        this.edit.user_id + '/edit')
                        .then(function (response) {
                            vm.fields = response.data;
                            vm.showButtonLoader = false;
                            vm.edit.status = 1;
                        });
                }
            },

            deleteUser() {
                let vm = this;



                if (this.edit.user_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a user to delete');
                    // vm.$_resetFields();
                } else {
                    Swal.fire({
                        title : 'Are you sure?',
                        html : "You won't be able to revert this!",
                        type : 'question',
                        showCancelButton : true,
                        confirmButtonText : 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            Axios.delete(this.uri.deleteUser +
                                this.edit.user_id)
                                .then(function (response) {
                                    vm.getUsers();
                                    vm.showButtonLoader = false;
                                    vm.edit.user_id = null;
                                    vm.edit.status = 0;
                                    vm.$_resetFields();
                                    _toastr('success',
                                        response.data.message);
                                });
                        }
                    });
                }
            }
        },
    }
</script>

<style scoped>
</style>