<template>
    <div class="col-sm-4">
        <form
                v-on:submit.prevent="saveSystem()">
            <div
                    class="form-group row"
                    v-if="$_hasAccess('View Systems')">
                <label
                        class="col-sm-2">System
                </label>
                <div
                        class="col-sm-10">
                    <v-select
                            label="description"
                            v-model="edit.system_id"
                            :options="systems"
                            :key="edit.system_id"
                            :reduce="description =>
                            description.id"></v-select>
                    <span
                            class="form-text text-muted">Select a system to Edit/Delete.</span>
                    <a href="#"
                       class="btn btn-primary"
                       v-if="$_hasAccess('Edit Systems')"
                       v-on:click.prevent="showButtonLoader = true; editSystem();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                        Edit
                    </a>

                    <a href="#"
                       class="btn btn-danger"
                       v-if="$_hasAccess('Delete Systems')"
                       v-on:click.prevent="showButtonLoader = true; deleteSystem();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                       data-type="2">
                        Delete
                    </a>
                </div>
            </div>
            <hr>
            <h3>
                {{ edit.status == 1 ? 'Edit' : 'Add' }}
                System
            </h3>
            <div class="form-group">
                <label>Description
                </label>
                <input type="text"
                       class="form-control form-control-sm"
                       v-model="fields.description"
                       v-bind:class="{ 'is-invalid' :
                       errors.description }">
                <div
                        class="invalid-feedback">
                    {{
                    errors.description
                    ?
                    errors.description[0]
                    : '' }}
                </div>
            </div>

            <div
                    class="kt-form__actions"
                    v-if="$_hasAccess('Add Systems')">
                <a href="#"
                   class="btn btn-primary"
                   v-on:click.prevent="saveSystem();
                   showButtonLoader = true;"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                   data-type="2">
                    Save
                </a>
            </div>
        </form>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "SystemsModule",

        data() {
            return {
                edit : {
                    status : 0,
                    system_id : null
                },
                systems : [],
                fields : {
                    description : null,
                },
                uri : {
                    getSystems : '/api/systems',
                    getSystem : '/api/systems/',
                    saveSystem : '/api/systems',
                    deleteSystem : '/api/systems/'
                }
            };
        },

        mounted() {
            let vm = this;

            Axios.all([
                this.getSystems()
            ]).then(Axios.spread(function (acct, perms) {
                vm.showModalLoader = false;
            }));
        },

        methods : {
            getSystems() {
                let vm = this;

                return Axios.get(this.uri.getSystems)
                    .then(function (response) {
                        vm.systems = response.data;
                    });
            },

            editSystem() {
                let vm = this;

                if (this.edit.system_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a system to edit');
                } else {
                    return Axios.get(this.uri.getSystem +
                        this.edit.system_id + '/edit')
                        .then(function (response) {
                            vm.fields = response.data;
                            vm.showButtonLoader = false;
                            vm.edit.status = 1;
                        });
                }
            },

            saveSystem() {
                this.errors = [];
                let vm = this;
                let URI = this.edit.status === 0 ?
                    this.uri.saveSystem :
                    this.uri.getSystem
                    + this.edit.system_id;

                if (this.edit.status === 1) {
                    this.fields._method = 'PATCH';
                }

                return Axios.post(URI,
                    this.fields)
                    .then(function (response) {
                        vm.$_resetInitialData();
                        vm.getSystems();
                        vm.edit.status = 0;
                        vm.edit.system_id = null;
                        vm.showButtonLoader = false;
                        vm.showModalLoader = false;
                        _toastr('success',
                            response.data.message);
                    }).catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                        this.$_displayValidationError(error.response.data.errors);
                        this.showButtonLoader = false;
                    });
            },

            deleteSystem() {
                let vm = this;

                if (this.edit.system_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a system to delete');
                } else {
                    Swal.fire({
                        title : 'Are you sure?',
                        html : "You won't be able to revert this!",
                        type : 'question',
                        showCancelButton : true,
                        confirmButtonText : 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            Axios.delete(this.uri.deleteSystem +
                                this.edit.system_id)
                                .then(function (response) {
                                    vm.getSystems();
                                    vm.showButtonLoader = false;
                                    vm.edit.system_id = null;
                                    vm.edit.status = 0;
                                    vm.$_resetFields();
                                    _toastr('success',
                                        response.data.message);
                                });
                        } else {
                            vm.showButtonLoader = false;
                        }
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>