<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <a href="#"
                               class="btn btn-primary"
                               v-on:click.prevent="$router.push('/class-management/index')"
                               v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                <i class="flaticon2-back"
                                   v-if="!showButtonLoader &&
                       !showModalLoader"></i>
                                <span class="text"
                                      data-type="1">Back</span>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div
                            class="d-flex justify-content-center"
                            v-if="this.showModalLoader">
                        <span>Please Wait...&emsp;</span>
                        <div
                                class="kt-spinner kt-spinner--primary kt-spinner--lg"
                                role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div v-else>
                        <!--FORM-->
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4">
                                <form>
                                    <div class="form-group row">
                                        <label for="code"
                                               class="col-md-3 col-sm-3">
                                            Code
                                        </label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text"
                                                   class="form-control form-control-sm"
                                                   id="code"
                                                   disabled="disabled"
                                                   v-model="fields.id">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="description"
                                               class="col-md-3 col-sm-3">
                                            Description
                                        </label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text"
                                                   class="form-control form-control-sm"
                                                   id="description"
                                                   v-model="fields.description"
                                                   maxlength="50"
                                                   v-bind:class="{ 'is-invalid' : errors.description }">
                                            <div
                                                    class="invalid-feedback">
                                                {{
                                                errors.description
                                                ?
                                                errors.description[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="target_end"
                                                class="col-md-3 col-sm-3" style="font-size: 12px;">
                                            Target Completion
                                        </label>
                                        <div class="col-md-9 col-sm-9">
                                            <date-picker
                                                    v-model="fields.target_end"
                                                    class="form-control-sm"
                                                    name="target_end"
                                                    id="target_end"
                                                    :config="datepicker.options"
                                                    v-bind:class="{ 'is-invalid' : errors.target_end }"></date-picker>
                                            <div
                                                    class="invalid-feedback">
                                                {{
                                                errors.target_end
                                                ?
                                                errors.target_end[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label
                                                for="passing_rate"
                                                class="col-md-3 col-sm-3">
                                            Passing Rate
                                        </label>
                                        <div class="col-md-9 col-sm-9">
                                            <div
                                                    class="input-group input-group-sm">
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        aria-describedby="basic-addon2"
                                                        id="passing_rate"
                                                        v-model="fields.passing_rate"
                                                        maxlength="50"
                                                        v-bind:class="{ 'is-invalid' : errors.passing_rate }">
                                                <div
                                                        class="input-group-append">
                                                    <span class="input-group-text"
                                                          id="basic-addon2">%</span>
                                                </div>
                                            </div>
                                            <div
                                                    class="invalid-feedback">
                                                {{
                                                errors.passing_rate
                                                ?
                                                errors.passing_rate[0]
                                                : '' }}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="no_of_pax"
                                           class="col-md-3 col-sm-3">
                                        No. of Pax
                                    </label>
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="no_of_pax"
                                               disabled="disabled"
                                               v-model="fields.no_of_pax">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="completed"
                                           class="col-md-3 col-sm-3">
                                        Completed
                                    </label>
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="completed"
                                               disabled="disabled"
                                               v-model="fields.completed">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="created_by"
                                           class="col-md-3 col-sm-3">
                                        Created By
                                    </label>
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="created_by"
                                               v-model="fields.created_by"
                                               disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="created_at"
                                           class="col-md-3 col-sm-3">
                                        Created On
                                    </label>
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="created_at"
                                               v-model="fields.created_at"
                                               disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5>Upon Submission</h5>
                                        </div>
                                    </div>

                                    <div
                                            class="form-group row">
                                        <div
                                                class="col-sm-6">
                                            <label
                                                    class="kt-checkbox kt-checkbox--bold kt-checkbox--primary">
                                                <input
                                                        type="checkbox"
                                                        id="show_score"
                                                        name="show_score"
                                                        v-model="fields.show_score">
                                                Show Score
                                                <span></span>
                                            </label>
                                        </div>

                                        <div
                                                class="col-sm-6">
                                            <label class="kt-checkbox kt-checkbox--bold kt-checkbox--primary">
                                                <input
                                                        type="checkbox"
                                                        id="show_rationale"
                                                        name="show_rationale"
                                                        v-model="fields.show_rationale">
                                                Show
                                                Rationale
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div
                                                class="col-sm-6">
                                            <label class="kt-checkbox kt-checkbox--bold kt-checkbox--primary">
                                                <input
                                                        type="checkbox"
                                                        id="show_answer"
                                                        name="show_answer"
                                                        v-model="fields.show_answer">
                                                Show
                                                Answer
                                                <span></span>
                                            </label>
                                        </div>

                                        <div
                                                class="col-sm-6">
                                            <label
                                                    class="kt-checkbox kt-checkbox--bold kt-checkbox--primary">
                                                <input
                                                        type="checkbox"
                                                        id="show_prev_ans"
                                                        name="show_prev_ans"
                                                        v-model="fields.show_prev_ans">
                                                Show
                                                Previous
                                                Answer
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-3">
                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="submitClassForm(); showButtonLoader = true;"
                                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                    <i
                                            class="flaticon2-download"
                                            v-if="!showButtonLoader && !showModalLoader"></i>
                                    Save
                                </a>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-if="edit &&
                                   $_hasAccess('Export Class form to PDF')"
                                   @click.prevent="showButtonLoader = true; $_exportFile(uri.exportPdf + classId, 'CASE-' + classId + '-' +
                        today + '.pdf')"
                                   v-bind:class="showButtonLoader ||
                       showModalLoader ?
                       'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">

                                    <i class="flaticon-file"
                                       v-if="!showButtonLoader &&
                           !showModalLoader"></i>
                                    Export to PDF
                                </a>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="$router.push('/class-management')"
                                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                    <i
                                            class="flaticon-cancel"
                                            v-if="!showButtonLoader && !showModalLoader"></i>
                                    Cancel
                                </a>
                            </div>
                        </div>

                        <hr v-if="edit">

                        <!--TABS-->
                        <div class="row" v-if="edit">
                            <tabs :edit="this.edit"
                                  :classId="this.classId"></tabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Tabs from './tabs';
    import SubHeader from './sub-header/form';
    import Axios from 'axios';

    export default {
        name : "ClassInformation",

        components : {
            Tabs,
            SubHeader
        },

        beforeRouteLeave(to, from, next) {
            if (to.hash) {
                next();
            } else {
                this.showButtonLoader = true;
                Swal.fire({
                    title : 'Are you sure?',
                    text : "You won't be able to revert this!",
                    type : 'warning',
                    showCancelButton : true,
                    confirmButtonText : 'Yes, discard form',
                    cancelButtonText : 'No'
                }).then((result) => {
                    if (result.value) {
                        next();
                    } else {
                        this.showButtonLoader = false;
                    }
                })
            }
        },

        created() {
            if(!this.$_hasAccess('Add Class')) {
                this.$router.push('/no-access#');
            }
        },

        data() {
            return {
                edit : false,
                showModalLoader : false,
                showButtonLoader : false,
                classId : null,
                fields : {
                    code : null,
                    description : null,
                    target_end : null,
                    show_score : false,
                    show_answer : false,
                    show_rationale : false,
                    show_prev_ans : false,
                    passing_rate : null,
                    no_of_pax : 0,
                    completed : '0%',
                    created_by : null,
                    created_at :
                        Moment(new Date()).format('YYYY-MM-DD')
                },
                uri : {
                    post : '/api/classes',
                    edit : '/api/classes/',
                    patch : '/api/classes/',
                    discardUrl : '/class-management/index',
                    exportPdf : '/api/classes/export/pdf/',
                },
            };
        },

        mounted() {
                if (this.$route.params.classid) {
                    this.showModalLoader = true;
                    this.showButtonLoader = true;
                    this.edit = true;
                    this.classId = this.$route.params.classid;
                    Axios.get(this.uri.edit +
                        this.$route.params.classid + '/edit').then((response) => {
                            console.log(response.data[0]);
                        this.fields = response.data[0];
                        this.fields.completed = (parseInt(this.fields.completed) <= 100)?parseInt(this.fields.completed)+'%':'100%';
                        this.fields.target_end = new
                        Date(this.fields.target_end);
                        this.showModalLoader = false;
                        this.showButtonLoader = false;
                    });

                    this.$root.$on('count-pax', () => {
                        const that = this;
                        Axios.get(that.uri.edit + that.$route.params.classid)
                                    .then(function (response) {
                                        that.fields.no_of_pax = response.data.no_of_pax;
                                    });
                    });
                }
        },

        methods : {
            submitClassForm() {
                let _axios;
                if (this.edit) {
                    this.fields._method = 'PATCH';
                    _axios = Axios.post(this.uri.patch +
                        this.classId,
                        this.fields);
                } else {
                    _axios = Axios.post(this.uri.post,
                        this.fields);
                }
                _axios.then((response) => {
                    this.showModalLoader = false;
                    this.showButtonLoader = false;
                    this.$router.push('/class-management/edit/' + response.data.data.id + '#success');
                    _toastr('success',
                        response.data.message);
                }).catch((error) => {
                    this.showModalLoader = false;
                    this.showButtonLoader = false;
                    this.$_displayValidationError(error.response.data.errors);
                    _toastr('error',
                        error.response.data.message);
                });
            }
        }
    }
</script>

<style scoped>

</style>