<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--BUTTONS-->
                        <div class="row">
                            <div class="col-sm-10">
                                <router-link
                                        to="/class-management/create"
                                        class="btn btn-primary"
                                        v-if="$_hasAccess('Add Class')">
                                    <i
                                            class="flaticon-plus"></i>
                                    Add
                                </router-link>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-on:click.prevent="$_deleteRow(uri.deleteClass, table)"
                                   v-if="$_hasAccess('Delete Class')">
                                    <i
                                            class="flaticon2-trash"></i>
                                    Delete
                                </a>

                                <a href="#"
                                   class="btn btn-primary"
                                   v-if="$_hasAccess('Export Classes to CSV')"
                                   v-on:click.prevent="$_exportFile(uri.exportToCSV, 'CLASS-MANAGEMENT-' +
                        $_today + '.csv')"
                                   v-bind:class="showButtonLoader ||
                       showModalLoader ?
                       'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">

                                    <i class="flaticon-file"
                                       v-if="!showButtonLoader &&
                           !showModalLoader"></i>
                                    Export to CSV
                                </a>
                            </div>

                            <div
                                    class="col-sm-2"
                                    v-if="$_hasAccess('Search Classes')">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search..."
                                           v-model="tableSearchString"
                                           @keyup="$_searchTable(table, tableSearchString)">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span>
                                            <i
                                                    class="flaticon-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--TABLE-->
                        <div class="row">
                            <div
                                    class="col-md-12 table-responsive"
                                    v-if="$_hasAccess('View Classes Table')">
                                <table
                                        id="class-management-table"
                                        class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input
                                                        type="checkbox"
                                                        class="custom-control-input"
                                                        id="selectAll"
                                                        v-on:change="$_selectAllCheckbox()">
                                                <label class="custom-control-label"
                                                       for="selectAll"></label>
                                            </div>
                                        </th>
                                        <th>id</th>
                                        <th>Class Code</th>
                                        <th>Description</th>
                                        <th>No. of Pax</th>
                                        <th>End</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="9"
                                            class="text-center"
                                        >
                                            <div class="spinner-border"
                                                 role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "index",

        components : {
            SubHeader
        },

        data() {
            return {
                showModalLoader : false,
                showButtonLoader : false,
                table : '',
                uri : {
                    deleteClass : '/api/classes',
                    editRoute : '/class-management/edit/',
                    exportToCSV : '/api/classes/export/csv'
                },
                tableSearchString : ''
            };
        },

        created() {
            if (!this.$_hasAccess('View Class Management')) {
                this.$router.push('/no-access');
            }
        },

        mounted() {
            this.table = this.classManagementTableInit();

            if (this.$_hasAccess('Edit Class')) {
                this.$_tableRowClickableInit(this.uri.editRoute, '#class-management-table');
            }
        },

        methods : {
            classManagementTableInit() {
                return $('#class-management-table').DataTable({
                    processing : true,
                    serverSide : true,
                    destroy : true,
                    order : [
                        [
                            1,
                            'desc'
                        ]
                    ],
                    ajax : {
                        "url" : '/api/classes',
                        type : 'GET',
                        complete: function(d) {
                            $('#selectAll:checkbox').prop('checked', false).removeAttr('checked');
                        }
                    },
                    columns : [
                        {
                            data : 'checkbox',
                            width :
                                '50px',
                            'class' :
                                'text-center checkBox',
                            'sortable' : false
                        },
                        {data : 'id', 'class' : 'd-none'},
                        {data : 'id'},
                        {data : 'description'},
                        {data : 'no_of_pax'},
                        {data : 'target_end'},
                        {data : 'created_by'},
                        {data : 'created_at'},
                    ],
                    dom :
                        '<t<"float-left" i><"float-right"p><"float-right" l>>',
                    language : {
                        'info' : "Count: _TOTAL_",
                        "lengthMenu" :
                            "_MENU_",
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>