<template>
    <div class="col-sm-12"
         v-if="$_hasAccess('View assigned Cases to Class') && $_hasAccess('View assigned Trainee to Class')">
        <ul
                class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                role="tablist">
            <li class="nav-item"
                v-if="$_hasAccess('View assigned Cases to Class')">
                <!--<a class="nav-link active" data-toggle="tab"-->
                <!--href="#cases-tab" role="tab"-->
                <!--aria-selected="true">Cases</a>-->
                <router-link tag="a"
                             :to="'/class-management/edit/'+ classId +'/cases'"
                             data-toggle="tab"
                             role="tab"
                             class="nav-link">Cases
                </router-link>
            </li>

            <li class="nav-item"
                v-if="$_hasAccess('View assigned Trainee to Class')">
                <router-link tag="a"
                             :to="'/class-management/edit/'+ classId +'/trainees'"
                             data-toggle="tab"
                             role="tab"
                             class="nav-link">Trainees
                </router-link>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active"
                 role="tabpanel">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "tabs",

        props : [
            'edit',
            'classId'
        ]
    }
</script>

<style scoped>

</style>