
<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">CodEx
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <!--Case Maintenance-->
        <router-link tag="li" to="/case-maintenance"
                     class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-cogs"></i>
                <span>Case Maintenance</span>
            </a>
        </router-link>

        <!--Class Management-->
        <router-link tag="li" to="/class-management"
                     class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-people-carry"></i>
                <span>Class Management</span>
            </a>
        </router-link>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</template>

<script>
    export default {
        name: 'sidebar'
    }
</script>
