<template>
    <div>
        <button class="kt-header-menu-wrapper-close"
                id="kt_header_menu_mobile_close_btn"><i
                class="la la-close"></i></button>
        <div class="kt-header-menu-wrapper"
             id="kt_header_menu_wrapper">
            <div id="kt_header_menu"
                 class="kt-header-menu kt-header-menu-mobile ">
                <ul class="kt-menu__nav ">
                    <router-link tag="li"
                                 to="/case-maintenance"
                                 class="kt-menu__item"
                                 aria-haspopup="true"
                                 active-class="kt-menu__item--active"
                                 v-if="$_hasAccess('View Case Maintenance')">
                        <a href=""
                           class="kt-menu__link "><span
                                class="kt-menu__link-text">Case Maintenance</span></a>
                    </router-link>

                    <router-link tag="li"
                                 to="/class-management"
                                 class="kt-menu__item"
                                 aria-haspopup="true"
                                 active-class="kt-menu__item--active"
                                 v-if="$_hasAccess('View Class Management')">
                        <a href=""
                           class="kt-menu__link "><span
                                class="kt-menu__link-text">Class Management</span></a>
                    </router-link>

                    <router-link tag="li"
                                 to="/training-module"
                                 class="kt-menu__item"
                                 aria-haspopup="true"
                                 active-class="kt-menu__item--active"
                                 v-if="$_hasAccess('View Work Queue')">
                        <a href=""
                           class="kt-menu__link "><span
                                class="kt-menu__link-text">Training Module</span></a>
                    </router-link>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "header-menu",

        props : [
            'myPrivileges'
        ],

        mounted() {
        },

    }
</script>

<style scoped>

</style>