<template>
    <div class="col-sm-4">
        <form
                v-on:submit.prevent="saveServiceLine()">
            <div
                    class="form-group row"
                    v-if="$_hasAccess('View Service Lines')">
                <label
                        class="col-sm-2">Service Line
                </label>
                <div
                        class="col-sm-10">
                    <v-select
                            label="description"
                            v-model="edit.service_line_id"
                            :options="service_lines"
                            :key="edit.service_line_id"
                            :reduce="description =>
                            description.id"></v-select>
                    <span
                            class="form-text text-muted">Select a service line to Edit/Delete.</span>
                    <a href="#"
                       class="btn btn-primary"
                       v-if="$_hasAccess('Edit Service Lines')"
                       v-on:click.prevent="showButtonLoader = true; editServiceLine();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                        Edit
                    </a>

                    <a href="#"
                       class="btn btn-danger"
                       v-if="$_hasAccess('Delete Service Lines')"
                       v-on:click.prevent="showButtonLoader = true; deleteServiceLine();"
                       v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                       data-type="2">
                        Delete
                    </a>
                </div>
            </div>
            <hr>
            <h3>
                {{ edit.status == 1 ? 'Edit' : 'Add' }}
                Service Line
            </h3>
            <div class="form-group">
                <label>Description
                </label>
                <input type="text"
                       class="form-control form-control-sm"
                       v-model="fields.description"
                       v-bind:class="{ 'is-invalid' :
                       errors.description }">
                <div
                        class="invalid-feedback">
                    {{
                    errors.description
                    ?
                    errors.description[0]
                    : '' }}
                </div>
            </div>

            <div class="form-group">
                <label>Case Type</label>
                <v-select
                        label="description"
                        v-model="fields.case_type_id"
                        :options="case_types"
                        :key="fields.case_type_id"
                        :reduce="description =>
                            description.id"></v-select>
            </div>

            <div
                    class="kt-form__actions"
                    v-if="$_hasAccess('Add Service Lines')">
                <a href="#"
                   class="btn btn-primary"
                   v-on:click.prevent="saveServiceLines();
                   showButtonLoader = true;"
                   v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                   data-type="2">
                    Save
                </a>
            </div>
        </form>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        name : "ServiceLinesModule",

        data() {
            return {
                edit : {
                    status : 0,
                    service_line_id : null
                },
                case_types : [],
                service_lines : [],
                fields : {
                    description : null,
                    case_type_id : null
                },
                uri : {
                    getServiceLines : '/api/service-lines',
                    getServiceLine : '/api/service-lines/',
                    saveServiceLine : '/api/service-lines',
                    deleteServiceLine :
                        '/api/service-lines/',
                    getCaseTypes : '/api/case-types'
                }
            };
        },

        mounted() {
            let vm = this;

            Axios.all([
                this.getServiceLines(),
                this.getCaseTypes()
            ]).then(Axios.spread(function (acct, perms) {
                vm.showModalLoader = false;
            }));
        },

        methods : {
            getServiceLines() {
                let vm = this;

                return Axios.get(this.uri.getServiceLines)
                    .then(function (response) {
                        vm.service_lines = response.data;
                    });
            },

            editServiceLine() {
                let vm = this;

                if (this.edit.service_line_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a service line to edit');
                } else {
                    return Axios.get(this.uri.getServiceLine +
                        this.edit.service_line_id + '/edit')
                        .then(function (response) {
                            vm.fields = response.data;
                            vm.showButtonLoader = false;
                            vm.edit.status = 1;
                        });
                }
            },

            saveServiceLines() {
                this.errors = [];
                let vm = this;
                let URI = this.edit.status === 0 ?
                    this.uri.saveServiceLine :
                    this.uri.getServiceLine
                    + this.edit.service_line_id;

                if (this.edit.status === 1) {
                    this.fields._method = 'PATCH';
                }

                return Axios.post(URI,
                    this.fields)
                    .then(function (response) {
                        vm.$_resetFields();
                        vm.getServiceLines();
                        vm.edit.status = 0;
                        vm.edit.service_line_id = null;
                        vm.showButtonLoader = false;
                        _toastr('success',
                            response.data.message);
                    }).catch((error) => {
                        _toastr('error',
                            error.response.data.message);
                        this.$_displayValidationError(error.response.data.errors);
                        this.showButtonLoader = false;
                    });
            },

            deleteServiceLine() {
                let vm = this;

                if (this.edit.service_line_id === null) {
                    this.showButtonLoader = false;
                    this.edit.status = 0;
                    _toastr('warning',
                        'Please select a service line to delete');
                } else {
                    Swal.fire({
                        title : 'Are you sure?',
                        html : "You won't be able to revert this!",
                        type : 'question',
                        showCancelButton : true,
                        confirmButtonText : 'Yes, delete it!'
                    }).then((result) => {
                        if (result.value) {
                            Axios.delete(this.uri.deleteServiceLine +
                                this.edit.service_line_id)
                                .then(function (response) {
                                    vm.getServiceLines();
                                    vm.showButtonLoader = false;
                                    vm.edit.service_line_id = null;
                                    vm.edit.status = 0;
                                    vm.$_resetFields();
                                    _toastr('success',
                                        response.data.message);
                                });
                        } else {
                            vm.showButtonLoader = false;
                        }
                    });
                }
            },

            getCaseTypes() {
                let vm = this;

                return Axios.get(this.uri.getCaseTypes)
                    .then(function (response) {
                        vm.case_types = response.data;
                    });
            },
        }
    }
</script>

<style scoped>

</style>