<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div
                                class="d-flex justify-content-center"
                                v-if="this.showModalLoader">
                            <span>Please Wait...&emsp;</span>
                            <div
                                    class="kt-spinner kt-spinner--primary kt-spinner--lg"
                                    role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="col-sm-12" v-else>
                            <ul
                                    class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                                role="tablist">
                                <li class="nav-item">
                                    <router-link tag="a"
                                                 to="/settings/references/case-types"
                                                 v-if="$_hasAccess('View Case Types')"
                                                 data-toggle="tab"
                                                 role="tab"
                                                 class="nav-link">
                                        Case Types
                                    </router-link>
                                </li>

                                <li class="nav-item">
                                    <router-link tag="a"
                                                 to="/settings/references/service-lines"
                                                 v-if="$_hasAccess('View Service Lines')"
                                                 data-toggle="tab"
                                                 role="tab"
                                                 class="nav-link">
                                        Service Lines
                                    </router-link>
                                </li>

                                <li class="nav-item">
                                    <router-link tag="a"
                                                 to="/settings/references/systems"
                                                 v-if="$_hasAccess('View Systems')"
                                                 data-toggle="tab"
                                                 role="tab"
                                                 class="nav-link">
                                        Systems
                                    </router-link>
                                </li>

                                <li class="nav-item">
                                    <router-link tag="a"
                                                 to="/settings/references/text-upload"
                                                 v-if="$_hasAccess('Replace Reference')"
                                                 data-toggle="tab"
                                                 role="tab"
                                                 class="nav-link">
                                        Codes
                                    </router-link>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active"
                                     id="kt_tabs_6_1"
                                     role="tabpanel">
                                    <router-view></router-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "ReferencesModule",

        components : {
            SubHeader
        },

        data() {
            return {
                showModalLoader : false,
                showButtonLoader : false,
                uri : {
                    getRoles : '/api/roles',
                    getPermissions : '/api/permissions',
                    saveRole : '/api/roles-permission',
                    getAssignedPermissions :
                        '/api/roles-permission/'
                },
                roles : [],
                permissions : [],
                fields : {
                    role_id : null,
                    permission_ids : null
                }
            }
        },
    }
</script>

<style scoped>

</style>