<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <div class="modal fade"
             id="popupTraining" tabindex="-1"
             role="dialog"
             aria-labelledby="popupTrainingTitle"
             aria-hidden="true">
            <div
                    class="modal-dialog modal-dialog-centered"
                    role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row"
                             v-for="(value, key) in
                        modalData">
                            <div class="col-sm-12">
                                <h3 class="kt-font-primary">
                                    {{ key
                                    }}</h3>
                                <span class="lead"
                                      v-if="key ==
                                      'score'">
                                    Coding Score: {{
                                    value ?
                                    (value.coding_score * 100).toFixed(2) : ''
                                    }}<br>
                                    POA Score: {{
                                    value ?
                                    (value.poa_score * 100).toFixed(2): '' }}
                                </span>
                                <span class="lead"
                                      v-else-if="key !=
                                      'answer'">
                                    {{ value }}
                                </span>
                                <div v-else>
                                    <span class="lead"
                                          v-for="(answerVal, answerKey) in
                                          value">
                                       <b>{{
                                          answerKey.toUpperCase()
                                          }}</b>
                                        <ul
                                                style="list-style: none;">
                                            <li
                                                    v-for="arr in answerVal">
                                                <table
                                                        class="table">
                                                    <thead>
                                                    <th
                                                            v-for="(val, key) in arr" class="autoCap">
                                                        {{ key }}
                                                    </th>
                                                    </thead>
                                                    <tbody>
                                                    <td
                                                            v-for="(val, key) in arr" class="autoCap">
                                                        {{ val }}
                                                    </td>
                                                    </tbody>
                                                </table>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                                <hr v-if="key !=
                                'rationale'">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div
                    class="d-flex justify-content-center"
                    v-if="this.showModalLoader">
                <span>Please Wait...&emsp;</span>
                <div
                        class="kt-spinner kt-spinner--primary kt-spinner--lg"
                        role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div v-else>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        <a href="#"
                                           class="btn btn-primary"
                                           v-on:click.prevent="$router.go(-1)"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                            <i class="flaticon2-back"
                                               v-if="!showButtonLoader &&
                       !showModalLoader"></i>
                                            <span class="text"
                                                  data-type="1">Back</span>
                                        </a>
                                    </h3>
                                </div>

                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-actions">
                                        <a href="#"
                                           class="btn btn-primary"
                                           v-on:click.prevent="showButtonLoader = true; getPreviousAnswer();"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                           v-if="showPrevAnsBtn">
                                            <i
                                                    class="flaticon-reply"
                                                    v-if="!showButtonLoader && !showModalLoader"></i>
                                            {{
                                            showPrevAns ?
                                            'Hide' : 'Show'
                                            }} Last Answer
                                        </a>

                                        <a href="#"
                                           class="btn btn-primary"
                                           v-on:click.prevent="saveCase(); showButtonLoader = true;"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                            <i
                                                    class="flaticon2-download"
                                                    v-if="!showButtonLoader && !showModalLoader"></i>
                                            Save
                                        </a>

                                        <a href="#"
                                           class="btn btn-primary"
                                           v-on:click.prevent="$router.push('/training-module')"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''">
                                            <i
                                                    class="flaticon-cancel"
                                                    v-if="!showButtonLoader && !showModalLoader"></i>
                                            Close
                                        </a>

                                        <a href="#"
                                           class="btn btn-primary"
                                           ref="newBtn"
                                           v-on:click.prevent="stopHandlingTime(); showButtonLoader = true;"
                                           v-bind:class="showButtonLoader || showModalLoader ?
                   'disabled kt-spinner kt-spinner--v2 kt-spinner--sm kt-spinner--primary' : ''"
                                           data-type="2">
                                            <i
                                                    class="flaticon2-check-mark"
                                                    v-if="!showButtonLoader && !showModalLoader"></i>
                                            Submit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <object
                                                width="100%"
                                                height="700px"
                                                :data="pdfFile"></object>
                                    </div>

                                    <div class="col-sm-5">
                                        <!--HANDLING TIME TIMER-->
                                        <div class="row">
                                            <div
                                                    class="col-sm-12 d-flex justify-content-center">
                                                <div
                                                        class="timerCircle d-flex"
                                                        :data-date="handlingTime"
                                                        style="width:35%"></div>
                                            </div>
                                        </div>

                                        <hr>

                                        <!--CASE PROCESSING FORM-->
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <!--DIAGNOSIS-->
                                                <div class="row">
                                                    <div
                                                            class="alert alert-solid-danger alert-bold col-sm-12"
                                                            v-if="Object.keys(this.errors).length"
                                                            role="alert">
                                                        <div class="alert-text">
                                                            <div v-for="error in errors">
                                                                <div class="row"
                                                                     v-for="e in error">
                                                                    {{
                                                                    e
                                                                    }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                Diagnosis
                                                            </th>
                                                            <th width="100px">
                                                                POA
                                                            </th>
                                                            <th>
                                                                Codes
                                                            </th>
                                                            <th>
                                                                Description
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th>
                                                                PDX
                                                            </th>
                                                            <td>
                                                                <select name="pdx_poa[]"
                                                                        class="form-control form-control"
                                                                        v-bind:class="errors['keyset.pdx.0.poa'] ? 'is-invalid' : ''"
                                                                        v-model="showPrevAns ? previousAnswers.pdx[0].poa : fields.keyset.pdx[0].poa">
                                                                    <option value=""></option>
                                                                    <option value="Y">
                                                                        Y
                                                                    </option>
                                                                    <option value="N">
                                                                        N
                                                                    </option>
                                                                    <option value="E">
                                                                        E
                                                                    </option>
                                                                    <option value="U">
                                                                        U
                                                                    </option>
                                                                    <option value="W">
                                                                        W
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       v-model="showPrevAns ? previousAnswers.pdx[0].code : fields.keyset.pdx[0].code"
                                                                       v-bind:class="errors['keyset.pdx.0.code'] ? 'is-invalid' : ''">
                                                            </td>
                                                            <td>
                                                                    <textarea
                                                                            name=""
                                                                            id=""
                                                                            class="form-control"
                                                                            cols="30"
                                                                            rows="1"
                                                                            v-model="showPrevAns ? previousAnswers.pdx[0].description : fields.keyset.pdx[0].description"
                                                                            v-bind:class="errors['keyset.pdx.0.description'] ? 'is-invalid' : ''"></textarea>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr v-for="(val, index) in finalSdxCount">
                                                            <th>
                                                                <div v-if="index == 0">
                                                                    SDX
                                                                    <a href="#"
                                                                       class="btn btn-success btn-sm btn-circle btn-icon"
                                                                       v-on:click.prevent="addSdx()">
                                                                        <i class="flaticon2-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <select name="sdx_poa[]"
                                                                        class="form-control form-control"
                                                                        v-model="showPrevAns ? previousAnswers.sdx[index].poa : fields.keyset.sdx[index].poa"
                                                                        v-bind:class="errors['keyset.sdx.'+ index +'.poa'] ? 'is-invalid' : ''"
                                                                >
                                                                    <option value=""></option>
                                                                    <option value="Y">
                                                                        Y
                                                                    </option>
                                                                    <option value="N">
                                                                        N
                                                                    </option>
                                                                    <option value="E">
                                                                        E
                                                                    </option>
                                                                    <option value="U">
                                                                        U
                                                                    </option>
                                                                    <option value="W">
                                                                        W
                                                                    </option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       v-model="showPrevAns ? previousAnswers.sdx[index].code : fields.keyset.sdx[index].code"
                                                                       v-bind:class="errors['keyset.sdx.'+ index +'.code'] ? 'is-invalid' : ''">
                                                            </td>
                                                            <td>
                                                                <textarea
                                                                        class="form-control"
                                                                        cols="30"
                                                                        rows="1"
                                                                        v-model="showPrevAns ? previousAnswers.sdx[index].description : fields.keyset.sdx[index].description"
                                                                        v-bind:class="errors['keyset.sdx.'+ index +'.description'] ? 'is-invalid' : ''"></textarea>
                                                            </td>
                                                            <td>
                                                                <button
                                                                        class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                        v-on:click.prevent="$delete(fields.keyset.sdx, index); sdxAnsCount--"
                                                                        v-if="index > 0">
                                                                    <i class="flaticon-delete"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <!--Procedure-->
                                                <div class="row">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                Procedure
                                                            </th>
                                                            <th>
                                                                Codes
                                                            </th>
                                                            <th>
                                                                Description
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th>
                                                                PPX
                                                            </th>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       v-model="showPrevAns ? previousAnswers.ppx[0].code : fields.keyset.ppx[0].code"
                                                                       v-bind:class="errors['keyset.ppx.0.code'] ? 'is-invalid' : ''">
                                                            </td>
                                                            <td>
                                                                    <textarea
                                                                            name=""
                                                                            id=""
                                                                            class="form-control"
                                                                            cols="30"
                                                                            rows="1"
                                                                            v-model="showPrevAns ? previousAnswers.ppx[0].description : fields.keyset.ppx[0].description"
                                                                            v-bind:class="errors['keyset.ppx.0.description'] ? 'is-invalid' : ''"></textarea>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr v-for="(val, index) in spxAnsCount">
                                                            <th>
                                                                <div v-if="index == 0">
                                                                    SPX
                                                                    <a href="#"
                                                                       class="btn btn-success btn-sm btn-circle btn-icon"
                                                                       v-on:click.prevent="addSpx()">
                                                                        <i class="flaticon2-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <input type="text"
                                                                       class="form-control"
                                                                       v-model="showPrevAns ? previousAnswers.spx[index].code : fields.keyset.spx[index].code"
                                                                       v-bind:class="errors['keyset.spx.'+index+'.code'] ? 'is-invalid' : ''">
                                                            </td>
                                                            <td>
                                                                <textarea
                                                                        name=""
                                                                        id=""
                                                                        class="form-control"
                                                                        cols="30"
                                                                        rows="1"
                                                                        v-model="showPrevAns ? previousAnswers.spx[index].description : fields.keyset.spx[index].description"
                                                                        v-bind:class="errors['keyset.spx.'+ index +'.description'] ? 'is-invalid' : ''"></textarea>
                                                            </td>
                                                            <td>
                                                                <button
                                                                        class="btn btn-danger btn-circle btn-sm btn-icon"
                                                                        v-on:click.prevent="$_removeRow($event)"
                                                                        v-if="index > 0">
                                                                    <i class="flaticon-delete"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/form';
    import Axios from 'axios';

    export default {
        name : "trainingForm",

        components : {
            SubHeader
        },

        props : [
            'publicPath'
        ],

        beforeRouteLeave(to, from, next) {
            if (to.hash == '#success') {
                next();
            } else {
                this.showButtonLoader = true;
                Swal.fire({
                    title : 'Are you sure?',
                    text :
                        "Case Handling time will be paused.",
                    type : 'warning',
                    showCancelButton : true,
                    confirmButtonText : 'Yes',
                    cancelButtonText : 'No',
                    animation : false
                }).then((result) => {
                    if (result.value) {
                        this.pauseHandlingTime();
                        next();
                    } else {
                        next(false);
                        this.showButtonLoader = false;
                    }
                })
            }
        },

        data() {
            return {
                showModalLoader : true,
                showButtonLoader : true,
                table : '',
                uri : {
                    getHandlingTime :
                        '/api/cases/handling-time/',
                    startHandlingTime :
                        '/api/training-module/start/',
                    pauseHandlingTime :
                        '/api/training-module/pause/',
                    stopHandlingTime :
                        '/api/training-module/stop/',
                    getClassDetails : '/api/classes/',
                    getPreviousAnswer :
                        '/api/training-module/get-previous-answer/',
                    saveCase : '/api/training-module/save/',
                    getSavedAnswer :
                        '/api/training-module/get-saved-answer/'
                },
                fields : {
                    case_id : null,
                    class_id : null,
                    keyset : {
                        pdx : {
                            0 : {
                                code : null,
                                poa : null,
                                description : null
                            }
                        },
                        sdx : {
                            0 : {
                                code : null,
                                poa : null,
                                description : null
                            }
                        },
                        ppx : {
                            0 : {
                                code : null,
                                description : null
                            }
                        },
                        spx : {
                            0 : {
                                code : null,
                                description : null
                            }
                        }
                    }
                },
                handlingTime :
                    Moment().format('YYYY-MM-DD HH:mm:ss'),
                sdxAnsCount : 1,
                spxAnsCount : 1,
                errors : [],
                showPrevAnsBtn : false,
                showPrevAns : false,
                previousAnswers : null,
                prevSdxAnsCount : null,
                prevSpxAnsCount : null,
                file : null,
                modalData : {
                    answer : null,
                    score : null,
                    rationale : null
                }
            };
        },

        computed : {
            finalSdxCount() {
                return this.showPrevAns ?
                    this.prevSdxAnsCount : this.sdxAnsCount;
            },

            pdfFile() {
                return this.publicPath +
                    '/storage/' + this.file;
            }
        },

        created() {
            if (!this.$_hasAccess('Handle Cases')) {
                this.$router.push('/no-access');
            }
        },

        mounted() {
            this.fields.case_id = this.$route.params.caseid;
            this.fields.class_id =
                this.$route.params.classid;
            let vm = this;

            $('#popupTraining').on('hidden.bs.modal',
                function () {
                    vm.$router.push('/training-module#success');
                });

            $('#popupTraining').modal({
                backdrop : 'static',
                keyboard : false,
                show : false
            });

            Axios.all([
                this.getHandlingTime(),
                this.getClassDetails(),
                this.getSavedAnswer()
            ])
                .then(Axios.spread((acct, perms) => {
                    this.showModalLoader =
                        this.showButtonLoader = false;
                }))
                .then(Axios.spread((acct, perms) => {
                    this.initTimerCircles();
                }));
        },

        methods : {
            getHandlingTime() {
                return Axios.get(this.uri.getHandlingTime +
                    this.fields.case_id + '/' +
                    this.fields.class_id)
                    .then((response) => {
                        if (response.data.status == 3) {
                            Swal.fire({
                                title : 'Oops..',
                                text :
                                    "Something's wrong, this case has already been processed.",
                                type : 'warning',
                                showCancelButton : false,
                                confirmButtonText :
                                    'Go Back',
                                animation : false,
                                allowOutsideClick : false,
                                allowEscapeKey : false,
                            }).then((value) => {
                                if (value) {
                                    this.$router.push('/training-module/index#success');
                                }
                            });
                        }
                        this.handlingTime =
                            Moment(response.data.created_at).subtract(response.data.last_ht, 'seconds').format('YYYY-MM-DD HH:mm:ss');
                        this.file = response.data.case.file;
                    });
            },

            initTimerCircles() {
                return $('.timerCircle').TimeCircles({
                    time : {
                        Days : {
                            color : "#C0C8CF", show :
                                false
                        },
                        Hours : {color : "#5867dd"},
                        Minutes : {color : "#5867dd"},
                        Seconds : {color : "#5867dd"}
                    },
                    circle_bg_color : "#f3f3f3"
                });
            },

            stopHandlingTime() {
                Axios.post(this.uri.stopHandlingTime +
                    this.fields.case_id + '/' +
                    this.fields.class_id, this.fields)
                    .then((response) => {
                        var res = response.data;
                        _toastr('success',
                            res.message);
                        this.modalData = res.data;
                        if (res.data) {
                            $('#popupTraining').modal('show');
                        } else {
                            this.$router.push('/training-module#success');
                        }
                    })
                    .catch((error) => {
                        if (error.response.status == 403) {
                            _toastr('error',
                                error.response.data.message +
                                ' Please refresh this page.')
                        } else {
                            var errors =
                                error.response.data.errors;

                            this.errors = errors;
                        }

                        this.showButtonLoader = false;
                    });
            },

            pauseHandlingTime() {
                Axios.post(this.uri.pauseHandlingTime +
                    this.fields.case_id + '/' +
                    this.fields.class_id);
            },

            handler() {
                alert('asd');
            },

            addSdx() {
                this.sdxAnsCount++;

                this.fields.keyset.sdx[this.sdxAnsCount -
                1] = {
                    code : "",
                    poa : "",
                    description : ""
                };
            },

            addSpx() {
                this.spxAnsCount++;

                this.fields.keyset.spx[this.spxAnsCount -
                1] = {
                    code : "",
                    description : ""
                };
            },

            getClassDetails() {
                return Axios.get(this.uri.getClassDetails
                    + this.fields.class_id)
                    .then((response) => {
                        if (response.data.show_prev_ans) {
                            this.showPrevAnsBtn = true;
                        }
                    });
            },

            getPreviousAnswer() {
                if (!this.previousAnswers) {
                    Axios.get(this.uri.getPreviousAnswer +
                        this.fields.case_id + '/' +
                        this.fields.class_id)
                        .then((response) => {
                            this.showPrevAns = !this.showPrevAns;
                            this.showButtonLoader = false;
                            this.prevSdxAnsCount = response.data.answers.pdx.length;
                            this.prevSpxAnsCount = response.data.answers.spx.length;
                            this.previousAnswers =
                                response.data.answers;
                        })
                        .catch((errors) => {
                            _toastr('warning',
                                'No previous answer found.');
                            this.showButtonLoader = false;
                        });
                } else {
                    this.showPrevAns = !this.showPrevAns;
                    this.showButtonLoader = false;

                }

                this.showButtonLoader = false;
            },

            saveCase() {
                this.errors = [];
                Axios.post(this.uri.saveCase +
                    this.fields.case_id + '/' +
                    this.fields.class_id,
                    this.fields)
                    .then((response) => {
                        _toastr('success',
                            response.data.message);
                        this.showButtonLoader = false;
                    })
                    .catch((error) => {
                        if (error.response.status == 403) {
                            _toastr('error',
                                error.response.data.message +
                                ' Please refresh this page.');
                            this.showButtonLoader = false;
                        } else {
                            var errors =
                                error.response.data.errors;

                            _toastr('error',
                                error.response.data.message);

                            this.errors = errors;
                        }

                        this.showButtonLoader = false;
                    });
            },

            getSavedAnswer() {
                return Axios.get(this.uri.getSavedAnswer
                    + this.fields.case_id + '/' +
                    this.fields.class_id)
                    .then((response) => {
                        if (response.data.answers != null) {
                            this.fields.keyset =
                                response.data.answers;
                            this.sdxAnsCount =
                                response.data.answers.pdx.length;
                            this.spxAnsCount =
                                response.data.answers.spx.length;
                        }
                    });
            }
        }
    }
</script>

<style scoped>
input, textarea, .autoCap{
    text-transform: capitalize;
}
</style>