<template>
    <div>
        <!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
        <sub-header></sub-header>
        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid"
             id="kt_content">
            <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--BUTTONS-->
                        <div class="row">
                            <div class="col-sm-10">
                                <select name="" id=""
                                        class="form-control col-sm-2"
                                        v-model="fields.class_id"
                                        @change.prevent="table = workQueueTable()">
                                    <option value="0">--
                                                      Select
                                                      Class
                                                      --
                                    </option>
                                    <option v-for="vClass in classes"
                                            :value="vClass.id">
                                        {{
                                        vClass.description
                                        }}
                                    </option>
                                </select>
                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                                    <input type="checkbox"
                                           v-model="fields.with_closed"
                                           @change.prevent="getClasses()">
                                    Include
                                    closed/completed
                                    classes
                                    <span></span>
                                </label>
                            </div>
                            <div
                                    class="col-sm-2">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text"
                                           class="form-control select2"
                                           placeholder="Search..."
                                           v-model="tableSearchString"
                                           @keyup="$_searchTable(table, tableSearchString)">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span>
                                            <i
                                                    class="flaticon-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--TABLE-->
                        <div class="row">
                            <div
                                    class="col-xs-12 table-responsive">
                                <table
                                        id="work-queue-table"
                                        class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>id</th>
                                        <th>Case Type</th>
                                        <th>Service Line
                                        </th>
                                        <th>System</th>
                                        <th>Description</th>
                                        <th>Facility</th>
                                        <th>Status</th>
                                        <th>Last Saved</th>
                                        <th>Handling Time
                                        </th>
                                        <th>Date Submitted
                                        </th>
                                        <th>Score</th>
                                        <th>POA Score</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="9"
                                            class="text-center"
                                        >
                                            <div class="spinner-border"
                                                 role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SubHeader from './sub-header/index';
    import Axios from 'axios';

    export default {
        name : "index",

        components : {
            SubHeader
        },

        data() {
            return {
                showModalLoader : false,
                showButtonLoader : false,
                table : '',
                uri : {
                    getClasses :
                        '/api/authenticated-user/classes',
                    caseTable : '/api/training-module/cases/'
                },
                fields : {
                    class_id : 0,
                    with_closed : false
                },
                classes : null,
                tableSearchString : ''
            };
        },

        created() {
            if (!this.$_hasAccess('View Work Queue')) {
                this.$router.push('/no-access')
            }
        },

        mounted() {
            this.getClasses();
            this.table = this.workQueueTable();
            this.$_tableRowClickableInit('/training-module/case/', '#work-queue-table');
        },

        methods : {
            getClasses() {
                Axios.get(this.uri.getClasses +
                    '?with_closed=' + this.fields.with_closed)
                    .then((response) => {
                        this.classes = response.data;
                    });
            },

            workQueueTable() {
                return $('#work-queue-table').DataTable({
                    processing : true,
                    serverSide : true,
                    destroy : true,
                    ajax : {
                        "url" :
                            this.uri.caseTable
                            + this.fields.class_id,
                        type : 'GET',
                    },
                    order : [
                        [
                            1,
                            'desc'
                        ]
                    ],
                    columns : [
                        {data : null, 'class' : 'd-none'},
                        {data : 'id', 'class' : 'd-none'},
                        {
                            data : 'case_type_id'
                        },
                        {
                            data : 'service_line_id'
                        },
                        {
                            data : 'system'
                        },
                        {
                            data : 'description'
                        },
                        {
                            data : 'facility'
                        },
                        {
                            data : 'status'
                        },
                        {
                            data : 'last_saved'
                        },
                        {
                            data : 'handling_time'
                        },
                        {
                            data : 'date_submitted'
                        },
                        {
                            data : 'score'
                        },
                        {
                            data : 'poa_score'
                        },
                    ],
                    dom :
                        '<t<"float-left" i><"float-right"p><"float-right" l>>',
                    language : {
                        'info' : "Count: _TOTAL_",
                        "lengthMenu" :
                            "_MENU_",
                    }
                });
            },

            $_tableRowClickableInit(redirectUrl, tableId) {
                var self = this;
                $(tableId).on('click',
                    'tr > td:not(.checkBox,.dataTables_empty)',
                    function
                        () {
                        self.$router.push(redirectUrl +
                            $(this).siblings('td').eq(1).html()+ '/' + self.fields.class_id);
                    });
            },
        }
    }
</script>

<style scoped>

</style>