<template>
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <router-view
                :public-path="publicPath"></router-view>
    </div>
</template>

<script>
    export default {
        name : "TrainingModule",

        props : [
            'publicPath'
        ]
    }
</script>

<style scoped>

</style>